<%= form_for(ianswer) do |f| %>
  <% if ianswer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ianswer.errors.count, "error") %> prohibited this ianswer from being saved:</h2>

      <ul>
      <% ianswer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unit_price %>
    <%= f.text_field :unit_price %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :item_id %>
    <%= f.text_field :item_id %>
  </div>

  <div class="field">
    <%= f.label :supplier_id %>
    <%= f.text_field :supplier_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
