<% provide(:title, "Reports") %>
<section style="min-height: 60vh;">
	<div class="container">

		<% if @requests.empty? %>
	      <br><br>
	      <h1 class="text-info text-center">Charts, Table for Requests on Tender books</h1>
	      <hr>
	      <div class="row">
	        <div class="col-md-3 col-md-offset-3">
	          <%= image_tag 'buyer/srm.png', class: 'img-responsive', style: 'margin: 0 auto;' %>  
	        </div>
	        <div class="col-md-4 text-center">
	          <p>You can see all requests overview by user of your company and created date of each requests on Tenderbooks.</p>
	          <br>
	          <a href="#" class="btn btn-info btn-lg">Schedule a live demo</a><br><br>
	          In order to see overview, Create <%= link_to 'RFQ', new_request_path('RFQ') %> / <%= link_to 'RFI', new_request_path('RFI') %> first.
	        </div>        
	      </div>
	      <br><br>
	    <% else %>

		<!-- <h3 class="text-muted">
			Overview of requests
			<span class="pull-right hidden-xs">
				<span class="dropdown">
					<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
						<b class="text-muted">Buyer <span class="caret"></span></b>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">Buyer1</a></li>
						<li><a href="#">Buyer2</a></li>
						<li><a href="#">Buyer3</a></li>
					</ul>
				</span>
				<span class="dropdown">
					<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
						<b class="text-muted">
							<i class="glyphicon glyphicon-calendar"></i>
							All of time <span class="caret"></span>
						</b>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">Date</a></li>
						<li><a href="#">Month</a></li>
						<li><a href="#">Year</a></li>
					</ul>
				</span>
			</span>
		</h3>
		<hr>
		<span class="text-right hidden-lg hidden-md hidden-sm">
			<span class="dropdown">
				<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
					<b class="text-muted">Buyer <span class="caret"></span></b>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">Buyer1</a></li>
					<li><a href="#">Buyer2</a></li>
					<li><a href="#">Buyer3</a></li>
				</ul>
			</span>
			<span class="dropdown">
				<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
					<b class="text-muted">
						<i class="glyphicon glyphicon-calendar"></i>
						All of time <span class="caret"></span>
					</b>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">Date</a></li>
					<li><a href="#">Month</a></li>
					<li><a href="#">Year</a></li>
				</ul>
			</span>
		</span>
		<hr class="hidden-sm hidden-md hidden-lg">
		<div class="row">
			<div class="col-xs-5 col-md-2">
				<select class="form-control input-sm">
					<option>Option1</option>
					<option>Option2</option>
					<option>Option3</option>
				</select>
			</div>		
			<div class="col-xs-7 col-md-10">
				<span class="pull-right">
					<button class="btn btn-default btn-sm">Day</button>
					<button class="btn btn-default btn-sm">Week</button>
					<button class="btn btn-default btn-sm">Month</button>
				</span>
			</div>				
		</div> -->
		<div id="report-chart">
			<h3 class="text-muted">Overview requests by user</h3>
			<hr>
			<% @users.each_with_index do |user, index| %> 
				<%= "#{index+1} - <b>#{user.name}</b> , ".html_safe %> 
			<% end %>
			<hr>
			<%= pie_chart @requests.group(:user_id).count %>
			<br>
			<h3 class="text-muted">Overview requests by date</h3>
			<hr>
			<%= area_chart @requests.group_by_day(:created_at).count %>
		</div>
		<div>
			<button class="btn btn-default btn-sm">
				<b class="text-muted">
					<i class="glyphicon glyphicon-stats"></i>
					Breakdown
				</b>					
			</button>
			<button class="btn btn-default btn-sm">
				<b class="text-muted">
					<i class="glyphicon glyphicon-stats"></i>
					Comparisoin
				</b>					
			</button>
		</div>
		<hr>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr class="text-muted bg-info">
						<td>
							<small>Requests by buyers</small>
						</td>
						<!-- <td>
							<small>
								Under registeration
								<a href="#" class="text-muted" data-toggle="tooltip" data-placement="bottom" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." >
									<i class="glyphicon glyphicon-info-sign"></i>
								</a>
							</small>
						</td> -->
						<td>
							<small>
								Active
								<a href="#" class="text-muted" data-toggle="tooltip" data-placement="bottom" title="Current active requests by user of this company" >
									<i class="glyphicon glyphicon-info-sign"></i>
								</a>
							</small>
						</td>
						<td>
							<small>
								Completed
								<a href="#" class="text-muted" data-toggle="tooltip" data-placement="bottom" title="Closed requests by user of this company" >
									<i class="glyphicon glyphicon-info-sign"></i>
								</a>
							</small>
						</td>
						<td>
							<small>
								Archived
								<a href="#" class="text-muted" data-toggle="tooltip" data-placement="bottom" title="Archived requests by user of this company" >
									<i class="glyphicon glyphicon-info-sign"></i>
								</a>
							</small>
						</td>
						<td>
							<small>Total</small>
						</td>
					</tr>
				</thead>
				<tbody>
					<% current_company.users.each do |user| %>
					<tr>
						<td><h5><%= user.name  %> <small>( <%= user.email %> )</small></h5></td>
						<td>
							<h3 class="text-center text-info">
								<%= current_company.requests.where(user_id: user.id).where(folder_id: 1).count %>
							</h3>
						</td>
						<td>
							<h3 class="text-center text-success">
								<%= current_company.requests.where(user_id: user.id).where(folder_id: 2).count %><br>
								<small> 
									<% percent =  current_company.requests.where(user_id: user.id).exists? ? (current_company.requests.where(user_id: user.id).where(folder_id: 2).count / current_company.requests.where(user_id: user.id).count)*100 : 0 %>
									<%= number_to_percentage(  percent, precision: 2 )  %>
									</small>
							</h3>
						</td>
						<td>
							<h3 class="text-center text-muted">
								<%= current_company.requests.where(user_id: user.id).where(folder_id: 3).count %>
							</h3>
						</td>
						<td>
							<h3 class="text-center">
								<%= current_company.requests.where(user_id: user.id).count %>
							</h3>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>

	<% end %>
	</div>
</section>