<% provide(:title, "Messages") %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <% @requests.each do |request| %>
          <%= link_to( messages_path( id:request.id ) ) do %>         
            <div class="well <%= 'active' if request.id.to_i == @request_id.to_i %>">
              <h5>
                <small class="pull-right">                
                  <span class="badge bg-blue">
                    <small class="text-white"><%= request.messages.count %> <i class="glyphicon glyphicon-triangle-right"></i></small>
                  </span>
                </small>
                #<%= request.id %> <%= request.name %><br><small><%= request.created_at.strftime("%b %d, %Y %H:%M") %></small>          
              </h5>
            </div>
           <% end %>
         <% end %>
      </div>
      <div class="col-md-8">
        <div class="well">
          <div>
            <button class="btn btn-default btn-sm">
              NEW MESSAGE
            </button>
            <button class="btn btn-default btn-sm pull-right">
              OPEN REQUEST DETAILS
            </button>
          </div>
          <hr>
          <% @messages.each do |message| %>
            <div>
              <h5>Unread conversations</h5>
              <%= message.supplier.email %>
              <div>
                <button class="btn btn-success btn-xs">
                  Reply
                </button>
                <button class="btn btn-info btn-xs">
                  Mark as read
                </button>
              </div>
              <b class="text-muted">Posted on <%= distance_of_time_in_words(Time.now, message.created_at) %> ago</b><br>
              <p><%= message.content %></p>
              <% unless message.attach.nil? %>
                <%= link_to 'Attach', '#'  %>
              <% end %>
            </div>
            <hr>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>