<% provide(:title, "Messages") %>
<section style="min-height: 60vh;">
  <div class="container">
    <% if @requests.empty? %>
      <br><br>
      <h1 class="text-info text-center">Create, Send, Reply, Mark as read messages on Tenderbooks</h1>
      <hr>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <%= image_tag 'buyer/invitecolleagues.png', class: 'img-responsive', style: 'margin: 0 auto;' %>  
        </div>
        <div class="col-md-4 text-center">
          <p>Buyer can send message and mark all messages for request between buyer and supplier on Tenderbooks.</p>
          <br>
          <a href="#" class="btn btn-info btn-lg">Schedule a live demo</a><br><br>
          In order to see messages, Create <%= link_to 'RFQ', new_request_path('RFQ') %> / <%= link_to 'RFI', new_request_path('RFI') %> first.
        </div>        
      </div>
      <br><br>
    <% else %>

    <div class="row">
      <div class="col-md-4">
        <% unless @requests.nil? %>
          <% @requests.each do |request| %>
            <%= link_to( messages_path( id:request.id ) ) do %>         
              <div class="well <%= 'active' if request.id.to_i == @request.id.to_i %>">
                <h5>
                  <small class="pull-right">                
                    <span class="badge bg-blue">
                      <small class="text-white"><%= request.messages.count %> <i class="glyphicon glyphicon-triangle-right"></i></small>
                    </span>
                  </small>
                  #<%= request.id %> <%= request.name %><br><small><%= request.created_at.strftime("%b %d, %Y %H:%M") %></small>          
                </h5>
              </div>
             <% end %>
           <% end %>
        <% end %>        
      </div>
      <div class="col-md-8">
        <% unless @request.nil? %>
        <div class="well">
          <div>
            <button class="btn btn-default btn-sm" id="new-message">NEW MESSAGE</button>
            <button class="btn btn-default btn-sm pull-right" id="open-request-detail">OPEN REQUEST DETAILS</button>
          </div>

          <div id="message-request-detail">
            <hr>
            <pre>
              <%= @request.description %>
            </pre>
          </div> 

          <div id="new-message-div">
            <hr>
            <div class="alert" id="message-result"></div>
            <div class="form-group"><textarea class="form-control" rows="3" id="message-content" ></textarea></div>
            <hr>          
            <div class="text-right">
              <a 
                href="javascript:;" 
                class="btn btn-info text-uppercase" 
                id="send-message" 
                data-request='<%= @request.id %>'
                data-url='<%= messages_path %>'
                <% if current_user == @request.user %>
                data-buyer='<%= current_user.id %>'
                <% else %>
                data-supplier='<%= current_user.supplier.id %>'
                <% end %>
                >send message</a>
            </div>
          </div>         
          <hr>
          <% @messages.reverse_each do |message| %>
            <div>
              <small class="text-muted pull-right">
                <i class="glyphicon glyphicon-time"></i> <%= distance_of_time_in_words(Time.now, message.created_at) %> ago
              </small>
              <% if message.from == 'buyer' %>
              <h5><%= message.user.name %> : <em><%= @request.company.name %></em></h5>
              <% else %>
                <h5>
                  <% unless message.supplier.user.nil? %>
                    <%= message.supplier.user.name %>
                    <% if message.supplier.user.companies.exists? %>
                      : <em><%= message.supplier.user.companies.first.name %></em>
                    <% end %>
                  <% else %>
                    <%= message.supplier.email %>
                  <% end %>
                </h5>
              <% end %>              
              <div>                
                <% unless message.read %>
                  <% if ( message.from == 'buyer' and current_user != @request.user ) or 
                        ( message.from == 'supplier' and current_user == @request.user ) %>
                    <button class="btn btn-success btn-xs reply-message">
                      Reply
                    </button>
                    <button class="btn btn-info btn-xs mark-read" data-url="<%= message_url(message.id) %>" >
                      Mark as read
                    </button>
                  <% else %>
                    <small><span class="label label-warning">Unread</span></small>
                  <% end %>
                <% else %>
                <small><span class="label label-success">Read</span></small>
                <% end %>
              </div>
              <pre><%= message.content %></pre>              
              <% unless message.attach.nil? %>
                <%= link_to 'Attach', '#'  %>
              <% end %>              
            </div>
            <hr>
          <% end %>
        </div>
        <% else %>
        <p>No messsage yet...</p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</section>