<% provide(:title, "Profile") %>
<section style="min-height: 60vh;">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="panel-group" id="accordion">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  GENERAL DETAILS</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= devise_error_messages! %>
                  <div class="row">                    
                    <div class="col-md-6">
                      <div class="form-group required">
                        <%= f.label :name, class: 'control-label' %>
                        <%= f.text_field :name, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group required">
                        <%= f.label :email, class: 'control-label' %>
                        <%= f.email_field :email, class: 'form-control' %>
                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                          <div class="alert alert-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :phone, class: 'control-label' %>
                        <%= f.text_field :phone, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :mobile, class: 'control-label' %>
                        <%= f.text_field :mobile, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :job_title, class: 'control-label' %>
                        <%= f.text_field :job_title, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label 'Display language', class: 'control-label' %>
                        <%= f.select(:language, language_list.collect {|s| [s[:name].to_s, s[:name].to_s]}, {:include_blank => "Select Language"}, {:class => "form-control", placeholder: 'Select Language' } ) %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Timezone </label>
                        <%= f.select(:country, timezone_list.collect {|s| [s[:text].to_s, s[:text].to_s]}, {:include_blank => "Select Timezone"}, {:class => "form-control", requried: true, placeholder: 'Select Timezone' } ) %>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-7">
                      <div class="form-group">
                        <%= f.label :password %> <i class="text-info">(leave blank if you don't want to change it)</i><br />
                        <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
                        <% if @minimum_password_length %>
                          <em class="text-danger"><%= @minimum_password_length %> characters minimum</em>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <%= f.label :current_password %> <i class="text-info">(current password to confirm changes)</i><br />
                        <%= f.password_field :current_password, class: 'form-control', autocomplete: "off", requried: true %>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div>                    
                    <span class="pull-right">
                      <%= f.submit 'SAVE', class: 'btn btn-info btn-sm' %>                      
                    </span>
                  </div>
                  <div class="clearfix"></div>
                  <!-- <div>
                    <span><b class="text-muted">Unhappy?</b> <%= button_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-xs' %></span>
                  </div> -->
                  <% end %>
                </div>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                  API TOKENS</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p>API tokens can be used for programmatic access to Tendorbooks data. If you are interested in intergrating Tendorbooks with yoru applications, contact team@tendorbooks.com</p>
                  <div>
                    <button class="btn btn-info btn-sm pull-right">
                      <b>GENERATE NEW</b>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel-group">
            <div class="panel panel-info">
              <div class="panel-heading dropdown">
                <a href="javascript:;" data-toggle="dropdown">
                  <% if Company.where(:user => current_user.id ).empty? %>
                    Add Company
                  <% else %>
                    <%= Company.where(:user => current_user.id ).first.name %>
                  <% end %> <i class="glyphicon glyphicon-triangle-bottom pull-right"></i></a>
                <ul class="dropdown-menu">
                  <% Company.where(:user => current_user.id ).each do |company| %>
                    <li><%= link_to company.name, edit_company_path( company ) %></li>
                  <% end %>
                  <li class="divider"></li>
                  <li>
                    <%= link_to 'Add Company', new_company_path, class: 'btn btn-info add-company' %>
                  </li>
                </ul>
              </div>
              <div class="panel-body">
                <%= image_tag 'buyer/noimageCompany.gif', class: 'img-responsive', style: 'margin: 0 auto;' %>
              </div>
            </div>
            <% unless Company.where(:user => current_user.id).empty? %>
              <div class="panel panel-info">
                <div class="panel-heading"><i class="glyphicon glyphicon-triangle-right"></i> General</div>
              </div>

              <div class="panel panel-info">
                <div class="panel-heading"><i class="glyphicon glyphicon-triangle-right"></i> Company users</div>
              </div>

              <div class="panel panel-info">
                <div class="panel-heading"><i class="glyphicon glyphicon-triangle-right"></i> Subscription</div>
              </div>
            <% end %>            
          </div>

          <hr>

          <div class="panel-group">
            <div class="panel panel-success">
              <div class="panel-heading">
                <%= link_to '<i class="glyphicon glyphicon-triangle-left"></i> Your profile'.html_safe, edit_user_registration_path %>
              </div>
            </div>

            <div class="panel panel-info">
              <div class="panel-heading">
                <% if current_user.notifications.empty? %>
                  <%= link_to '<i class="glyphicon glyphicon-triangle-right"></i> Notifications'.html_safe, new_notification_path %>
                <% else %>
                  <%= link_to '<i class="glyphicon glyphicon-triangle-right"></i> Notifications'.html_safe, edit_notification_path(current_user.notifications.first) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>