<section>
  <div class="container">
    <%= form_for(bid) do |f| %>
      <% if bid.errors.any? %>
        <%= error_message bid %>
      <% end %>

      <%= f.hidden_field :request_id, value: @request.id %>      
      <%= f.hidden_field :supplier_id, value: @supplier.id %>
      <%= f.hidden_field :status, value: @status %>

      
      <div class="field">
        <%= f.label :content %>
        <%= f.text_area :content %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>    
  </div>
</section>
