<%= form_for(bid) do |f| %>
<% if bid.errors.any? %>
<%= error_message bid %>
<% end %>

<%= f.hidden_field :request_id, value: @request.id %>      
<%= f.hidden_field :supplier_id, value: @supplier.id %>
<%= f.hidden_field :status, value: @status %>
<%= f.hidden_field :content, value: '' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="text-center"><span class="text-muted">#<%= @request.id %></span> <%= @request.name %></h3>
  </div>
  <div class="panel-body">
     <div class="row">
      <div class="col-sm-6 text-center">
        <h5 class="text-muted">Time left</h5>
        <h4 class="text-danger">
          <% if Time.now > @request.end_time %>
          Bidding ended
          <% else %>
          <i class="glyphicon glyphicon-time"></i>&nbsp;<%= distance_of_time_in_words(Time.now, @request.end_time) %>
          <% end %>             
        </h4>
      </div>
      <div class="col-sm-6 text-center">
        <% if Time.now > @request.end_time %>
        <h5 class="text-muted">End date</h5>
        <h4 class="text-info">
          <i class="glyphicon glyphicon-calendar"></i>&nbsp;<%= @request.end_time.strftime("%b %d, %Y %H:%M") %>
        </h4>
        <% else %>
        <h5 class="text-muted">Create date</h5>
        <h4 class="text-info">
          <i class="glyphicon glyphicon-calendar"></i>&nbsp;<%= @request.created_at.strftime("%b %d, %Y %H:%M") %>  
        </h4>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- <ul class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab" href="#question-anwers"><h4>Fill in questonarie</h4></a>
  </li>
  <% unless @request.request_type == 'RFI' %>
    <li><a data-toggle="tab" href="#item-anwers"><h4>Enter quotation</h4></a></li>
  <% end %>
  <li><a href="#document-comment" data-toggle="tab"><h4>Document & Comment</h4></a></li>
  <% if bid.id.nil? %>
    <li><a href="#supplier-contact" data-toggle="tab"><h4>Contact Information</h4></a></li>
  <% end %>
</ul> -->

<div class="tab-content">
  <div id="question-anwers" class="tab-pane fade in active">
  	<h4 class="text-info">Fill in questonarie</h4>
  	<hr>
    <% @questions.each_with_index do |question, index| %>
      <div class="form-group <%= "required" unless question.mandatory.nil? %>">
        <label class="control-label"><%= "#{index+1}. #{question.title}" %></label><br>
        <span class="text-muted"> <%= question.description %> </span>
        <hr>
        <% unless question.enable_attatch %>
          <% if bid.qanswers.nil? %>
            <%= render 'inputs', question: question %>
          <% else %>
            <%= render 'inputs', question: question, qanswer: bid.qanswers[index] %>
          <% end %>          
        <% else %>
          <div class="row">
            <div class="col-sm-8">
              <% if bid.qanswers.nil? %>
                <%= render 'inputs', question: question %>
              <% else %>
                <%= render 'inputs', question: question, qanswer: bid.qanswers[index] %>
              <% end %>
            </div>
            <div class="col-sm-4">
              <input type="hidden" name="qanswers[attach][]" id="qanswer<%= index %>_document_value" value="<% unless bid.qanswers[index].nil? %><%= bid.qanswers[index].attach %><% end%>">
              <div class="well dropzone dropzone-small qanswer_document" id="qanswer<%= index %>_document" data-url="<%= @qanswer_s3_direct_post.url %>" data-fields="<%= @qanswer_s3_direct_post.fields.to_json %>">
                <div class="dz-message"><b class="text-muted">Drag & drop file here</b></div> 
              </div>
              <div id="qanswer<%= index %>_document_view" class="qanswer_document_view" data-url="<%= delete_document_path %>">
              	<% unless bid.qanswers[index].nil? %>
              		<%= link_to "<i class='glyphicon glyphicon-file'></i> #{url_decode(bid.qanswers[index].attach).split('/').last}".html_safe, bid.qanswers[index].attach.html_safe %>&nbsp;&nbsp;&nbsp;
	              	<i class='glyphicon glyphicon-remove text-danger' data-key='<%= bid.qanswers[index].attach %>' data-url='<%= delete_document_path %>' data-dzid='qanswer<%= index %>_document'></i>
              	<% end%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>    
    <hr>
    <div class="text-right">
      <% unless @request.request_type == 'RFI' %>
        <a data-toggle="tab" href="#item-anwers" class="btn btn-default btn-sm" > Next ></a>
      <% else %>
        <a data-toggle="tab" href="#document-comment" class="btn btn-default btn-sm" > Next ></a>
      <% end %>
    </div>
  </div>
  <% unless @request.request_type == 'RFI' %>
  <div id="item-anwers" class="tab-pane fade">
  	<h4 class="text-info">Enter quotation</h4>
  	<hr>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th class="bg-success">
            Unit Price <span id="currency">
              <%= @request.preferred_currency %>
            </span> <span class="text-danger">*</span>
          </th>
          <th class="text-center" >Item total</th>
        </tr>
      </thead>
      <tbody>
        <% @request.items.each_with_index do |item, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= item.name %></td>
          <td><%= item.quantity %></td>
          <td><%= item.unit %></td>
          <td class="bg-success">
            <input type="number" data-quantity="<%= item.quantity %>" step="0.01" min="0" class="form-control price-input" name="ianswers[]" id="price-<%= index %>" autocomplete="off" value="<% unless bid.ianswers[index].nil? %><%= bid.ianswers[index].unit_price %><% end %>">
          </td>
          <td class="text-center"><span class="item-price" id="price<%= index %>"><% unless bid.ianswers[index].nil? %><%= bid.ianswers[index].unit_price*item.quantity %><% else %>00.00<% end %></span></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <hr>    
    <div class="row">
      <div class="col-xs-7">
        <h4 class="text-info">Total of all items: <big class="text-success" id="total-price"><big><% unless bid.ianswers.nil? %><%= bid.item_total %><% end %></big></big></h4>
        <%= f.hidden_field :bid_budget %>
      </div>
      <div class="col-xs-5">
        <h5 class="text-muted">Bid currency: </h5>
        <%= f.select(:bid_currency, currency_list.first.collect {|key, value| [value, key]}, {:include_blank => "Select Currency", :selected => @request.preferred_currency }, {:class => "form-control", placeholder: 'Select Currency' } ) %>
      </div>
    </div>
    <hr>
    <div class="text-right">
      <a data-toggle="tab" href="#question-anwers" class="btn btn-default btn-sm" > < Back</a>
      <a data-toggle="tab" href="#document-comment" class="btn btn-sm btn-default" > Next ></a>
    </div>
  </div>
  <% end %>
  <div class="tab-pane fade" id="document-comment">
  	<h4 class="text-info">Document & Comment</h4><hr>
    <b class="text-info text-uppercase" >Document</b> <span class="text-muted">( Here you can attach more documents like company profile, marketing material etc. These may help the procuring team to better understand that you are very capable in meeting their needs. )</span>
    <hr>
    <%= f.hidden_field :document %>
    <div class="well dropzone" id="bid-document" data-url="<%= @s3_direct_post.url %>" data-fields="<%= @s3_direct_post.fields.to_json %>">
      <div class="dz-message">
        <span>Drag document here</span>
      </div> 
    </div>
    <div id="bid_document_view" data-url="<%= delete_document_path %>">
    	<% unless bid.document.nil? %>
	    	<%= link_to "<i class='glyphicon glyphicon-file'></i> #{url_decode(bid.document).split('/').last}".html_safe, bid.document.html_safe %>&nbsp;&nbsp;&nbsp;
	    	<i class='glyphicon glyphicon-remove text-danger' data-key='<%= bid.document %>' data-url='<%= delete_document_path %>' ></i>
    	<% end %>
    </div>
    <hr>
    <b class="text-info text-uppercase" >Comment to buyer</b>
    <hr>
    <%= f.text_area :content, class: 'form-control', placeholder: 'Add comment to buyer...' %>
    <hr>
    <div class="text-right">
      <% unless @request.request_type == 'RFI' %>
        <a data-toggle="tab" href="#item-anwers" class="btn btn-default btn-sm" > < Back</a>
      <% else %>
        <a data-toggle="tab" href="#question-anwers" class="btn btn-default btn-sm" > < Back</a>
      <% end %>
      <% if bid.id.nil? %>
        <a data-toggle="tab" href="#supplier-contact" class="btn btn-default btn-sm" > Next ></a>
      <% else %>
        <hr>
        <%= f.submit 'Submit', class: 'btn btn-info' %>
      <% end  %>
    </div>
  </div>

  <% if bid.id.nil? %>
  <div class="tab-pane fade" id="supplier-contact">
  	<h4 class="text-info">Contact Information</h4><hr>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <br><br>
        <p>Please enter your contacts, so buyer can contact you when there's need.</p>
        <div class="form-group required">
          <label class="control-label">Email</label>
          <input type="text" name="supplier[email]" value="<%= @supplier.email %>" class="form-control">
        </div>
        <div class="form-group required">
          <label class="control-label">Name</label>
          <input type="text" name="supplier[name]" value="<%= @supplier.name %>" class="form-control">
        </div>
        <div class="form-group requried">
          <label class="control-label">Company</label>
          <input type="text" name="supplier[company]" value="<%= @supplier.company %>" class="form-control">
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="text" name="supplier[phone]" value="<%= @supplier.phone %>" class="form-control">
        </div>
        <div class="form-group">
          <label>Mobile</label>
          <input type="text" name="supplier[mobile]" value="<%= @supplier.mobile %>" class="form-control">
        </div>
        <hr>
        <div class="text-right">
          <a data-toggle="tab" href="#document-comment" class="btn btn-default btn-sm" > < Back</a>
          <hr>
          <%= f.submit 'Submit', class: 'btn btn-info' %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>


<% end %>


