<% provide(:title, "View bid") %>
<section>
	<div class="container">
		<% unless @bid.request.created_at == @bid.request.updated_at  and @bid.created_at < @bid.request.updated_at %>
		<div class="alert alert-info">
			<a href="javascript" data-dismiss="alert" class="close">×</a>
			This request was updated by buyer at <%= @bid.request.updated_at.strftime("%b %d, %Y %H:%M ( %Z%z )") %> . 
			<% if @bid.supplier == current_user.supplier %>Please read again and make your bid again...<% end %>
		</div>
		<% end %>
		<h3>
			Request: <span class="text-muted">#<%= @bid.request.id %></span> <%= @bid.request.name %> 
			<small>( <b><%= @bid.request.company.name %></b> : <%= @bid.request.user.name %> )</small>
		</h3>
		<hr>
		<h4 class="text-info">Bid Details:</h4>
		<div class="row">
			<div class="col-sm-6">
				<table class="table table-condensed">
					<tbody>
						<tr>
							<td><h5 class="text-muted">Company:</h5></td>
							<td>
								<h5>
									<%= @bid.supplier.company %>
								</h5>
							</td>
						</tr>
						<tr>
							<td><h5 class="text-muted">Contact:</h5></td>
							<td>
								<h5>
									<%= @bid.supplier.name %>
									<small>( <%= @bid.supplier.email %> )</small>
								</h5>
							</td>
						</tr>
						<tr>
							<td><h5 class="text-muted">Bid made:</h5></td>
							<td><h5><%= @bid.created_at.strftime("%b %d, %Y %H:%M ( %Z%z )") %></h5></td>
						</tr>
						<tr>
							<td><h5 class="text-muted">Grand total:</h5></td>
							<td><h5><%= @bid.bid_budget %> <%= @bid.bid_currency %></h5></td>
						</tr>
						<tr>
							<td><h5 class="text-muted">Comments:</h5></td>
							<td><pre><%= @bid.content %></pre></td>
						</tr>
					</tbody>
				</table>				
			</div>
		</div>

		<ul class="nav nav-tabs">			      
			<li class="active" >
				<a data-toggle="tab" href="#questionarie"><h5>Questionarie</h5></a>
			</li>
			<% if @bid.request.request_type == 'RFQ' %>
			<li><a data-toggle="tab" href="#list-items"><h5>List of items</h5></a></li>
			<% end %>
		</ul>
		<div class="tab-content">
			<div id="questionarie" class="tab-pane fade in active">
				<br><br>
				<ul style="list-style: numeric;">
					<% @bid.qanswers.each_with_index do |qanswer, index| %>
					<li>
						<span class="text-muted">
							<%= qanswer.question.title %><br>
							( <%= qanswer.question.description %> )
						</span><br><br>
						<b><%= qanswer.answer %></b>						
						<% unless qanswer.attach.nil? %>
							<br><br>
							<%= link_to "<i class='glyphicon glyphicon-file'></i> #{url_decode(qanswer.attach).split('/').last}".html_safe, qanswer.attach  %>
						<% end %>
					</li>
					<hr>
					<% end %>
				</ul>
			</div>
			<% if @bid.request.request_type == 'RFQ' %>
			<div class="tab-pane fade " id="list-items">
				<br><br>
				<table class="table table-striped">
					<thead>
						<tr class="text-muted">
							<th>#</th>
							<th>Name</th>
							<th>Description</th>
							<th>Unit</th>
							<th>Quantity</th>
							<th>Unit price</th>
							<th>Item total</th>
						</tr>
					</thead>
					<tbody>
						<% @bid.ianswers.each_with_index do |ianswer, index| %>
						<tr>
							<td><%= index + 1 %></td>
							<td><%= ianswer.item.name %></td>
							<td><%= ianswer.item.description %></td>
							<td><%= ianswer.item.unit %></td>
							<td><%= ianswer.item.quantity %></td>
							<td><%= ianswer.unit_price %></td>
							<td><%= ianswer.item.quantity*ianswer.unit_price %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<% end %>
		</div>
		<hr>
		<div class="text-right">
			<% if @bid.supplier.user == current_user %>
			<%= link_to 'Edit', '#', class: 'btn btn-info' %>
			<% end %>
			<% unless current_user.supplier.nil? %>
			<%= link_to 'Back', bids_path, class: 'btn btn-default' %>
			<% else %>
			<%= link_to 'Back', request_path(@bid.request), class: 'btn btn-default' %>
			<% end %>
		</div>
		<hr>

	</div>
</section>


