<%= form_for(qanswer) do |f| %>
  <% if qanswer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qanswer.errors.count, "error") %> prohibited this qanswer from being saved:</h2>

      <ul>
      <% qanswer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :answer %>
    <%= f.text_area :answer %>
  </div>

  <div class="field">
    <%= f.label :attach %>
    <%= f.text_field :attach %>
  </div>

  <div class="field">
    <%= f.label :question_id %>
    <%= f.text_field :question_id %>
  </div>

  <div class="field">
    <%= f.label :supplier_id %>
    <%= f.text_field :supplier_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
