<% provide(:title, "Notification") %>
<section style="min-height: 60vh;">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<%= render 'form', notification: @notification %>
			</div>
			<div class="col-md-4">
				<div class="panel-group">
					<div class="panel panel-info">
						<div class="panel-heading dropdown">
							<a href="javascript:;" data-toggle="dropdown">
			                  <% if Company.where(:user => current_user.id ).empty? %>
			                    Add Company
			                  <% else %>
			                    <%= Company.where(:user => current_user.id ).first.name %>
			                  <% end %> <i class="glyphicon glyphicon-triangle-bottom pull-right"></i>
			              </a>
							<ul class="dropdown-menu">
								<% Company.where(:user => current_user.id ).each do |company| %>
				                  <li><%= link_to company.name, edit_company_path( company ) %></li>
				                <% end %>
								<li class="divider"></li>
								<li>
									<%= link_to 'Add Company', new_company_path, class: 'btn btn-info add-company' %>
								</li>
							</ul>
						</div>
						<div class="panel-body">
							<%= image_tag 'buyer/noimageCompany.gif', class: 'img-responsive', style: 'margin: 0 auto;' %>
						</div>
					</div>
					<% unless Company.where(:user => current_user.id).empty? %>
		              <div class="panel panel-info">
		                <div class="panel-heading"><i class="glyphicon glyphicon-triangle-right"></i> General</div>
		              </div>

		              <div class="panel panel-info">
		                <div class="panel-heading"><i class="glyphicon glyphicon-triangle-right"></i> Company users</div>
		              </div>

		              <div class="panel panel-info">
		                <div class="panel-heading"><i class="glyphicon glyphicon-triangle-right"></i> Subscription</div>
		              </div>
            		<% end %>
				</div>

				<hr>

				<div class="panel-group">
					<div class="panel panel-info">
						<div class="panel-heading">
							<%= link_to '<i class="glyphicon glyphicon-triangle-right"></i> Your profile'.html_safe, edit_user_registration_path %>
						</div>
					</div>

					<div class="panel panel-success">
						<div class="panel-heading">
							<% if current_user.notifications.empty? %>
								<%= link_to '<i class="glyphicon glyphicon-triangle-left"></i> Notifications'.html_safe, new_notification_path %>
							<% else %>
								<%= link_to '<i class="glyphicon glyphicon-triangle-left"></i> Notifications'.html_safe, edit_notification_path(current_user.notifications.first) %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


