<% if user_signed_in? %>

<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <%= link_to image_tag('logo.png'), root_path, class: 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to '<i class="glyphicon glyphicon-tasks"></i> Requests'.html_safe, requests_path %>
          </li>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-list"></i> Requisitions'.html_safe, requisitions_path %>
          </li>
          <% unless current_user.supplier.nil? %>
            <li>
              <%= link_to '<i class="glyphicon glyphicon-edit"></i> Bids'.html_safe, bids_path %>
            </li>
          <% end %>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-user"></i> Suppliers'.html_safe, suppliers_path %>
          </li>
          <!--<li>
            <%= link_to '<i class="glyphicon glyphicon-star"></i> Activities'.html_safe, dashboard_activity_path %>
          </li> -->
          <li>
            <%= link_to '<i class="glyphicon glyphicon-envelope"></i> Messages'.html_safe, messages_path %>
          </li>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-stats"></i> Reports'.html_safe, dashboard_report_path %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" >
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
              <span class="glyphicon glyphicon-user"></span> 
              <% if current_company.nil? %>
                <%= current_user.name %> <span class="caret">
              <% else %>
                <%= current_company.name %>
              <% end %>
              </span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
              <% current_user.companies.each do |company| %>
                <li><%= link_to company.name, edit_company_path( company ) %></li>
              <% end %>
              <li role="presentation">
                <%= link_to 'Settings', edit_user_registration_path %>
              </li>
              <li role="presentation" class="divider"></li>
              <li role="presentation">
                <%= link_to '<span class="glyphicon glyphicon-log-out"></span> Log Out'.html_safe, destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<% else %>

<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <%= link_to image_tag('logo.png'), root_path, class: 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to 'Company', root_path %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tender Solutions <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a role="menuitem" href="#">Supplier Onboarding System</a></li>
              <li role="presentation"><a role="menuitem" href="#">Supplier Compliance Service</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" href="#">Consultance & training</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Supplier Services <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
              <li role="presentation"><a href="#" role="menuitem">Business Opportunities</a></li>
            </ul>
          </li>
          <!-- <li><a href="#">Pricing</a></li> -->
          <li>
            <%= link_to 'Contact', contact_path %>
          </li>
          <li>
            <%= link_to 'Demo', demo_path %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to '<span class="glyphicon glyphicon-user"></span> <span class="hidden-sm" >Sign Up</span>'.html_safe, new_user_registration_path %>              
          </li>
          <li>
            <%= link_to '<span class="glyphicon glyphicon-log-in"></span> <span class="hidden-sm" >Login</span>'.html_safe, new_user_session_path %>              
          </li>
        </ul>
      </div>
    </div>
  </nav>

<% end %>

