<% provide(:title, "Requests") %>
<section style="min-height: 50vh;">
  <div class="container">
    <% if @requests.empty? %>
      <br><br>
      <h1 class="text-info text-center">Welcome to Tenderbooks!</h1>
      <hr>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <%= image_tag 'buyer/general.png', class: 'img-responsive', style: 'margin: 0 auto;' %>  
        </div>
        <div class="col-md-4 text-center">
          <p>Want to see what a prepared <b>Request for Proposal</b> looks like in Tenderbooks? </p>
          <br>
          <a href="#" class="btn btn-info btn-lg">Click here to view a test RFP</a><br><br>
          or start composing a real <%= link_to 'RFQ', new_request_path('RFQ') %> / <%= link_to 'RFI', new_request_path('RFI') %>  right away
        </div>        
      </div>
      <br><br>
    <% else %>
      <ul class="nav nav-tabs">
        <li><a id="showFolders" href="javascript:;">Show folders</a></li>
        <li class="active"><a data-toggle="pill" href="#requestsActiveRequests">Active requests</a></li>
        <li><a data-toggle="pill" href="#requestsArchivedRequests">Archived requests</a></li>
        <li class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-success">CREATE A NEW REQUEST</button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to 'New Request for Quotations', new_request_path('RFQ') %>
              </li>
              <li>
                <%= link_to 'New Request for Information', new_request_path('RFI') %>                  
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <div id="sidebar-menu">
        <h4 class="text-muted">
          Filter requests
          <span class="pull-right"><a id="hideFolders" class="btn btn-blue btn-xs" href="javascript:;">
            <i class="glyphicon glyphicon-triangle-left"></i>
          </a></span>
        </h4>
        <hr>
        <h5 class="text-muted">
          Folders
          <span class="pull-right">
            <button class="btn btn-default btn-xs">
              <i class="glyphicon glyphicon-plus"></i>
              Create folder
            </button>
            <button class="btn btn-default btn-xs">Edit folders</button>
          </span>
        </h5>
        <hr>
        <div class="input-group">
          <input type="text" class="form-control" name="email" value="<%= current_user.name %>" disabled>
          <span class="input-group-addon"><%= @requests.count %></span>          
        </div>
        <hr>
        <h5>Status</h5>
        <hr>
        <div class="input-group">
          <input type="text" class="form-control" name="email" value="Active requests" disabled >
          <span class="input-group-addon"><%= @active_requests.count %></span>          
        </div>
        <hr>
        <div class="input-group">
          <input type="text" class="form-control" name="email" value="Ended requestes" disabled>
          <span class="input-group-addon"><%= @ended_requests.count %></span>          
        </div>
        <hr>
        <h5>Date</h5>
        <hr>
        <input type="text" class="form-control date" value="Click here to choose a period" name="">
      </div>

      <div class="tab-content">
        <div id="requestsActiveRequests" class="tab-pane fade in active">
          <br>
          <div class="panel-group" id="accordion">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Active requests <%= "<span class='badge'>#{@active_requests.count}</span>".html_safe if @active_requests.count > 0 %>
                    <small class="pull-right">
                      <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </small>
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>
                          <small class="text-muted">Name</small>
                        </th>
                        <th>
                          <small class="text-muted">Buyer and folder</small>
                        </th>
                        <th></th>
                        <th>
                          <small class="text-muted">
                            <i class="glyphicon glyphicon-send"></i> &nbsp;
                            <i class="glyphicon glyphicon-envelope"></i> &nbsp;
                            <i class="glyphicon glyphicon-edit"></i> &nbsp;
                            <i class="glyphicon glyphicon-usd"></i> &nbsp;
                          </small>
                        </th>
                        <th>
                          <small class="text-muted">Time left</small>
                        </th>
                        <th>
                          <small class="text-muted">Savings</small>
                        </th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @active_requests.each do |request| %>
                      <tr>
                        <td><%= "##{request.id} #{request.name}" %></td>
                        <td>
                          <i class="glyphicon glyphicon-folder-close"></i>&nbsp;&nbsp;<%= request.user.name %>
                        </td>
                        <td>
                          <big><i class="glyphicon glyphicon-envelope"></i></big>
                          <small><span class="badge" style="vertical-align: top;"><%= request.messages.count %></span></small>
                        </td>
                        <td>
                          <span class="label label-success"><%= request.messages.where( content: 'Please apply...').count %></span>
                          <span class="label label-info"><%= request.messages.where( content: 'Supplier made a bid...').count %></span>
                          <span class="label label-warning">1</span>
                          <span class="label label-danger">0</span>
                        </td>
                        <td>
                          <i class="glyphicon glyphicon-time"></i>&nbsp;
                          <%= distance_of_time_in_words(Time.now, request.end_time) %>
                        </td>
                        <td></td>
                        <td>
                          <%= link_to '<i class="glyphicon glyphicon-eye-open text-muted"></i> View'.html_safe, request, class: "btn btn-default btn-sm" %>
                          <%= link_to '<i class="glyphicon glyphicon-edit text-muted"></i> Edit'.html_safe, edit_request_path(request), class: 'btn btn-default btn-sm' %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Ended requests <%= "<span class='badge'>#{@ended_requests.count}</span>".html_safe if @ended_requests.count > 0 %>
                    <small class="pull-right">
                      <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </small>
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>
                          <small class="text-muted">Name</small>
                        </th>
                        <th>
                          <small class="text-muted">Buyer and folder</small>
                        </th>
                        <th>
                        </th>
                        <th>
                          <small class="text-muted">
                            <i class="glyphicon glyphicon-send"></i> &nbsp;
                            <i class="glyphicon glyphicon-envelope"></i> &nbsp;
                            <i class="glyphicon glyphicon-edit"></i> &nbsp;
                            <i class="glyphicon glyphicon-usd"></i> &nbsp;
                          </small>
                        </th>
                        <th>
                          <small class="text-muted">Date ended</small>
                        </th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @ended_requests.each do |request| %>
                      <tr>
                        <td><%= "##{request.id} #{request.name}" %></td>
                        <td>
                          <i class="glyphicon glyphicon-folder-close"></i>&nbsp;&nbsp;<%= request.user.name %>
                        </td>
                        <td>
                          <big><i class="glyphicon glyphicon-envelope"></i></big>
                          <small><span class="badge" style="vertical-align: top;"><%= request.messages.count %></span></small>
                        </td>
                        <td>
                          <span class="label label-success"><%= request.messages.where( content: 'Please apply...').count %></span>
                          <span class="label label-info"><%= request.messages.where( content: 'Supplier made a bid...').count %></span>
                          <span class="label label-warning">1</span>
                          <span class="label label-danger">0</span>
                        </td>
                        <td>
                          <i class="glyphicon glyphicon-time"></i>&nbsp;
                          <%= request.end_time.strftime("%b %d, %Y %H:%M") %>
                        </td>
                        <td></td>
                        <td>
                          <%= link_to 'View', request, class: "btn btn-default btn-sm" %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Closed requests <%= "<span class='badge'>#{@closed_requests.count}</span>".html_safe if @closed_requests.count > 0 %>
                    <small class="pull-right">
                      <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </small>
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>
                          <small class="text-muted">Name</small>
                        </th>
                        <th>
                          <small class="text-muted">Buyer and folder</small>
                        </th>
                        <th>
                        </th>
                        <th>
                          <small class="text-muted">
                            <i class="glyphicon glyphicon-send"></i> &nbsp;
                            <i class="glyphicon glyphicon-envelope"></i> &nbsp;
                            <i class="glyphicon glyphicon-edit"></i> &nbsp;
                            <i class="glyphicon glyphicon-usd"></i> &nbsp;
                          </small>
                        </th>
                        <th>
                          <small class="text-muted">Date ended</small>
                        </th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @closed_requests.each do |request| %>
                      <tr>
                        <td><%= "##{request.id} #{request.name}" %></td>
                        <td>
                          <i class="glyphicon glyphicon-folder-close"></i>&nbsp;&nbsp;<%= request.user.name %>
                        </td>
                        <td>
                          <big><i class="glyphicon glyphicon-envelope"></i></big>
                          <small><span class="badge" style="vertical-align: top;"><%= request.messages.count %></span></small>
                        </td>
                        <td>
                          <span class="label label-success"><%= request.messages.where( content: 'Please apply...').count %></span>
                          <span class="label label-info"><%= request.messages.where( content: 'Supplier made a bid...').count %></span>
                          <span class="label label-warning">1</span>
                          <span class="label label-danger">0</span>
                        </td>
                        <td>
                          <i class="glyphicon glyphicon-time"></i>&nbsp;
                          <%= request.end_time.strftime("%b %d, %Y %H:%M") %>
                        </td>
                        <td></td>
                        <td>
                          <%= link_to 'View', request, class: "btn btn-default btn-sm" %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div id="requestsArchivedRequests" class="tab-pane fade">
          <br>
          <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">Archived Requests <%= "<span class='badge'>#{@archived_requests.count}</span>".html_safe if @archived_requests.count > 0 %></h4>
              </div>
              <div class="panel-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th>
                          <small class="text-muted">Name</small>
                        </th>
                        <th>
                          <small class="text-muted">Buyer and folder</small>
                        </th>
                        <th>
                        </th>
                        <th>
                          <small class="text-muted">
                            <i class="glyphicon glyphicon-send"></i> &nbsp;
                            <i class="glyphicon glyphicon-envelope"></i> &nbsp;
                            <i class="glyphicon glyphicon-edit"></i> &nbsp;
                            <i class="glyphicon glyphicon-usd"></i> &nbsp;
                          </small>
                        </th>
                        <th>
                          <small class="text-muted">Date ended</small>
                        </th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @archived_requests.each do |request| %>
                      <tr>
                        <td><%= "##{request.id} #{request.name}" %></td>
                        <td>
                          <i class="glyphicon glyphicon-folder-close"></i>&nbsp;&nbsp;<%= request.user.name %>
                        </td>
                        <td>
                          <big><i class="glyphicon glyphicon-envelope"></i></big>
                          <small><span class="badge" style="vertical-align: top;"><%= request.messages.count %></span></small>
                        </td>
                        <td>
                          <span class="label label-success"><%= request.messages.where( content: 'Please apply...').count %></span>
                          <span class="label label-info"><%= request.messages.where( content: 'Supplier made a bid...').count %></span>
                          <span class="label label-warning">1</span>
                          <span class="label label-danger">0</span>
                        </td>
                        <td>
                          <i class="glyphicon glyphicon-time"></i>&nbsp;
                          <%= request.end_time.strftime("%b %d, %Y %H:%M") %>
                        </td>
                        <td></td>
                        <td>
                          <%= link_to 'View', request, class: "btn btn-default btn-sm" %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
              </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

