<% provide(:title, "Preview Request") %>
<section>
	<div class="container">
		
		<div class="bg-info bid-nav">
		<% unless @request.end_time < Time.now %>
			<button class="btn btn-lg btn-info" disabled>Make a bid</button>
		<% end %>
		<button class="btn btn-lg btn-default" disabled>Don't want to participate</button>
		<button class="btn btn-lg btn-default" disabled>Ask a question</button>
		<%= link_to '<b class="text-info">Back</b>'.html_safe, :back, class: 'btn btn-default pull-right' %>
		</div>
		
		<br>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-3">
								<% if @request.company.logo.blank? %>
								<%= image_tag 'buyer/noimageCompany.gif', class: 'img-responsive' %>
								<% else %>
								<%= image_tag @request.company.logo , class: 'img-responsive' %>
								<% end %>		  			
							</div>
							<div class="col-sm-9">
								<h2><small class="text-muted">#<%= Request.all.count %></small> <%= @request.name %></h2>
								<hr>
								<h5><%= @request.company.name %></h5>
								<p class="text-muted">Contact person: <%= @request.user.name %> ( <%= @request.user.id %> )</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3 col-sm-offset-1">
								<h5 class="text-muted">Time left</h5>
								<h4 class="text-danger">
									<% if Time.now > @request.end_time %>
									Bidding ended
									<% else %>
									<i class="glyphicon glyphicon-time"></i>&nbsp;<%= distance_of_time_in_words(Time.now, @request.end_time) %>
									<% end %>		  				
								</h4>
							</div>
							<div class="col-sm-3">
								<% if Time.now > @request.end_time %>
								<h5 class="text-muted">End date</h5>
								<h4 class="text-info">
									<i class="glyphicon glyphicon-calendar"></i>&nbsp;<%= @request.end_time.strftime("%b %d, %Y %H:%M") %>
								</h4>
								<% else %>
								<h5 class="text-muted">Create date</h5>
								<h4 class="text-info">
									<i class="glyphicon glyphicon-calendar"></i>&nbsp;<%= Time.now.strftime("%b %d, %Y %H:%M") %>	
								</h4>
								<% end %>
							</div>
							<div class="col-sm-3 col-sm-offset-1">
								<h5 class="text-success" style="cursor: pointer;">
									Total bids 
								</h5>
								<h4 class="text-success">
									<i class="glyphicon glyphicon-info-sign"></i> <%= @request.bids.count %>
								</h4>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<br class="hidden-sm hidden-xs"><br class="hidden-sm hidden-xs">
								<h4 class="text-info"><b>REQUEST DETAILS</b></h4>
								<hr>
								<pre><%= @request.description.html_safe %></pre>

								<h4 class="text-info text-uppercase"><b>Documents</b></h4>
								<hr>
								<p>
									<% unless @request.attach.empty? %>
						                <% @request.attach.split("[!!!]").each do |document| %>
						                  <%= link_to "<i class='glyphicon glyphicon-file'></i> #{url_decode(document).split('/').last}".html_safe, document.html_safe %><hr>
						                <% end %>
					                <% else %>
					                No added document
					                <% end %>                	
								</p>
								<% unless @request.items.nil? %>

								<h4 class="text-info text-uppercase"><b>List of items</b></h4>
								<hr>
								<table class="table table-striped">
									<thead>
										<tr><th>#</th><th>Name</th><th>Quantity</th><th>Unit</th></tr>
									</thead>
									<tbody>
										<% @request.items.each_with_index do |item, index| %>
										<tr>
											<td><%= index + 1 %></td>
											<td><%= item.name %></td>
											<td><%= item.quantity %></td>
											<td><%= item.unit %></td>
										</tr>
										<% end %>
									</tbody>
								</table>
								<% end %>

								<br>
								<h4 class="text-info text-uppercase"><b>Fill in questionarie</b></h4>
								<hr>
								<b class="text-muted">The buyer wants each participant of the request to answer a list of questions to gather information. The questionnaire has to be filled when making a bid.</b>
								<hr>
								<table class="table table-striped">
									<thead>
										<tr><th>#</th><th>Name</th><th>Type</th></tr>
									</thead>
									<tbody>
										<% @request.questions.each_with_index do |question, index| %>
										<tr>
											<td><%= index + 1 %></td>
											<td><b><%= question.title %></b><br><span class="text-muted"><%= question.description %></span></td>
											<td>
												<% if question.question_type == 'boolean' %>
													<b>YES / NO</b>
												<% else %>
													<b class="text-uppercase"><%= question.question_type %></b>
													<% if question.question_type == 'list' or question.question_type == 'check' %>
														<br>
														<small class="text-muted">( <%= question.options %> )</small>
													<% end %>
												<% end %>
											</td>
										</tr>
										<% end %>
									</tbody>
								</table>
							</div>
						</div>
						
					</div>
				</div>

				<h3 id="message-board-title">Message board</h3>
				<div class="well">
					<h4 class="text-info"><b>Send a question to buyer</b></h4>
					<h5 class="text-muted"> Recipient: <b><%= @request.user.name %>, <%= @request.company.name %></b> </h5>
					<small class="text-muted">
						( This message is only visible to the buyer. Use message board only to ask additional questions, not to make a bid. Buyer can get a lot of messages and your bid might get lost. )
					</small><br><br>
					<div class="alert" id="message-result">
				    </div>
					<div class="form-group">
						<textarea class="form-control" rows="8" id="message-content" placeholder="Enter message here..."></textarea>	
					</div>
					<div class="form-group">
						<div class="text-right">
							<button class="btn btn-info text-uppercase"	disabled >send</button>
						</div>
					</div>			
				</div>

			</div>
		</div>
		

	</div>
</section>