<% provide(:title, @request.name) %>
<section>
  <div class="container">
    <h3>
      <%= "##{@request.id} #{@request.name}" %>
      <span class="pull-right">
        <small class="text-danger"><i class="glyphicon glyphicon-time"></i> <%= distance_of_time_in_words(Time.now, @request.end_time) %> </small>&nbsp;
        <%= link_to '<b class="text-info">Back</b>'.html_safe, requests_path, class: 'btn btn-default' %>          
      </span>
    </h3>
    <hr>
    <% if @request.company.owner == current_user or @request.user == current_user %>
      <div>
        <% if @request.company.owner == current_user %>
          <%= link_to '<b>Assign</b>'.html_safe, '#', class: 'btn btn-sm btn-default' %>
        <% end %>
        <%= link_to '<b>Extend end time</b>'.html_safe, '#', class: 'btn btn-sm btn-default' %>
        <%= link_to '<b>Archive request</b>'.html_safe, '#', class: 'btn btn-sm btn-default' %>
        <%= link_to '<b>Compare bids</b>'.html_safe, '#', class: 'btn btn-sm btn-default' %>
        <%= link_to '<b>Cancel request</b>'.html_safe, '#', class: 'btn btn-sm btn-default' %>
        <%= link_to '<b class="text-muted"><i class="glyphicon glyphicon-envelope"></i> View Messages</b>'.html_safe, "#{messages_url}?id=#{@request.id}", class: "btn btn-default btn-sm pull-right" %>
      </div>
    <% end %>
    <hr>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#request-details">Request details</a></li>
      <li><a data-toggle="tab" href="#suppliers">Suppliers</a></li>
      <li><a data-toggle="tab" href="#bids">Bids</a></li>
    </ul>

    <div class="tab-content">
      <div id="request-details" class="tab-pane fade in active">
        <div class="well">
          <div class="row">
            <div class="col-xs-3">
              <b class="text-muted">Buyer</b>
            </div>
            <div class="col-xs-9">
              <%= @request.user.name %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <b class="text-muted">Published</b>
            </div>
            <div class="col-xs-9">
              <%= @request.created_at.strftime("%b %d, %Y %H:%M ( %Z%z )") %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <b class="text-muted">Due date</b>
            </div>
            <div class="col-xs-9">
              <%= @request.end_time.strftime("%b %d, %Y %H:%M ( %Z%z )") %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <b class="text-muted">Description</b>
            </div>
            <div class="col-xs-9">
              <pre><%= @request.description.html_safe %></pre>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <b class="text-muted">Expected budget</b>
            </div>
            <div class="col-xs-9">
              <b><%= @request.expected_budget %> <%= @request.preferred_currency %></b>
            </div>
          </div>
        </div>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                List of items</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Quantity</th>
                      <th>Unit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @request.items.each_with_index do |item,index| %>
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= item.name %></td>
                      <td><%= item.quantity %></td>
                      <td><%= item.unit %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                Questionaire</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
              <div class="panel-body">
                <ul style="list-style: numeric;">
                  <% @request.questions.each_with_index do |question,index| %>
                  <li><%= "<b>#{question.title}</b><br><p class='text-muted'>#{question.description}</p>".html_safe %></li>
                  <% end %>
                </ul>                
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                Added Document</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
              <div class="panel-body">
                <% unless @request.attach.empty? %>
                <%= link_to "<i class='glyphicon glyphicon-file'></i> #{url_decode(@request.attach).split('/').last}".html_safe, @request.attach  %>
                <% else %>
                No added document
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div id="suppliers" class="tab-pane fade">
        <h3>Request is published as: <%= @request.permission %> request</h3>
        <hr>
        <label class="text-info">Bids Made</label>
        <table class="table">
          <tbody>
            <% @suppliers.each do |supplier| %>
              <% if supplier.bids.where(request_id: @request.id).where(status: 'sent').exists? %>
                <tr>
                  <td>
                    <b>
                    <% unless supplier.user.nil?%>
                      <% if supplier.user.companies.exists? %>
                        <%= supplier.user.companies.first.name %>
                      <% else %>
                        Unknown Company
                      <% end %>
                    <% else %>
                      Unknown Company
                    <% end %>
                    </b> : 
                    <% if supplier.user.nil?%>
                      Anonymous Supplier ( <%= supplier.email %> )
                    <% else %>
                      <%= supplier.user.name %> ( <%= supplier.email %> )
                    <% end %>
                  </td>
                  <td><%= supplier.bids.where(request_id: @request.id).where(status: 'sent').count %> bid(s)</td>
                  <td><%= supplier.created_at.strftime("%b %d, %Y %H:%M ( %Z%z )") %></td>
                  <td>
                    <%= link_to '<i class="glyphicon glyphicon-envelope text-muted"></i>'.html_safe, "#{messages_url}?id=#{@request.id}", class: "btn btn-default" %>
                  </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
          <label class="text-info">Wants To Bid</label>
          <table class="table">
          <tbody>
            <% @suppliers.each do |supplier| %>
            <tr>
              <td>
                <b>
                <% unless supplier.user.nil?%>
                  <% if supplier.user.companies.exists? %>
                    <%= supplier.user.companies.first.name %>
                  <% else %>
                    Unknown Company
                  <% end %>
                <% else %>
                  Unknown Company
                <% end %>
                </b> : 
                <% if supplier.user.nil?%>
                  Anonymous Supplier ( <%= supplier.email %> )
                <% else %>
                  <%= supplier.user.name %> ( <%= supplier.email %> )
                <% end %>
              </td>
              <td><%= supplier.bids.where(request_id: @request.id).where(status: 'sent').count %> bid(s)</td>
              <td><%= supplier.created_at.strftime("%b %d, %Y %H:%M ( %Z%z )") %></td>
              <td>
                <%= link_to '<i class="glyphicon glyphicon-envelope text-muted"></i>'.html_safe, "#{messages_url}?id=#{@request.id}", class: "btn btn-default" %>
              </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div id="bids" class="tab-pane fade">
          <br>
          <label class="text-info">Bids</label>
          <table class="table">
            <thead>
              <tr><th>Company</th><th>Total</th><th>Difference</th><th>Bid time</th><th></th></tr>
            </thead>
            <tbody>
              <% @request.bids.where( status: 'sent' ).each do |bid| %>
              <tr>                
                <td>
                  <b>
                  <% unless bid.supplier.user.nil? %>
                    <% if bid.supplier.user.companies.exists? %>
                      <%= bid.supplier.user.companies.first.name %>
                    <% else %>
                      Unknown Company
                    <% end %>
                  <% else %>
                    Unknown Company
                  <% end %>
                  </b>
                   : 
                  <% unless bid.supplier.user.nil? %>
                    <%= bid.supplier.user.name %>
                  <% else %>
                     Anonymous Supplier
                  <% end %>

                  ( <%= bid.supplier.email %> )
                </td>
                <td><%= bid.bid_budget %> <%= bid.bid_currency %></td>
                <td>
                  <%  
                    bid_budget = Money.new(bid.bid_budget*100, bid.bid_currency)
                    expected_budget = Money.new(@request.expected_budget*100, @request.preferred_currency)
                    difference = expected_budget - bid_budget.exchange_to(@request.preferred_currency)
                       %>
                  <%= sprintf("%+.2f", difference) %> <%= @request.preferred_currency %> 
                </td>
                <td><%= bid.created_at.strftime("%b %d, %Y %H:%M ( %Z%z )") %></td>                
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Actions
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'View bid', bid %></li>
                      <li><%= link_to 'Remove bid', '#' %></li>
                    </ul>
                  </div>                
                </td>
                <td>
                  <%= link_to '<i class="glyphicon glyphicon-envelope text-muted"></i>'.html_safe, "#{messages_url}?id=#{@request.id}", class: "btn btn-default" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </section>