<% provide(:title, @request.name) %>
<section>
  <div class="container">
    <h3>
      <%= "##{@request.id} #{@request.name}" %>
      <span class="pull-right">
        <% if @request.winner.nil? %>
        <small class="text-danger"><i class="glyphicon glyphicon-time"></i> <%= distance_of_time_in_words(Time.now, @request.end_time) %> </small>&nbsp;
        <% end %>
        <%= link_to '<b class="text-info">Back</b>'.html_safe, requests_path, class: 'btn btn-default' %>          
      </span>
    </h3>
    <hr>
    <% if @request.company.owner == current_user or @request.user == current_user %>
      <% if @request.folder_id == 1 %>
      
      <div>
        <% if @request.company.owner == current_user %>
          <%= link_to '<b>Assign</b>'.html_safe, 'javascript:;', class: 'btn btn-sm btn-default', 'data-toggle': "modal", 'data-target': "#assignRequestModal" %>
        <% end %>
        <%= link_to '<b>Edit request</b>'.html_safe, 'javascript:;', class: 'btn btn-sm btn-default', 'data-toggle': "modal", 'data-target': "#editRequestModal" %>
        <%= link_to '<b>Extend closing time</b>'.html_safe, 'javascript:;', class: 'btn btn-sm btn-default', 'data-toggle': "modal", 'data-target': "#extendRequestModal" %>
        <%= link_to '<b>Archive request</b>'.html_safe, change_status_path(@request.id, 3), class: 'btn btn-sm btn-default' %>
        <%= link_to '<b>Compare bids</b>'.html_safe, compare_bids_path(@request.id), class: 'btn btn-sm btn-default' %>
        <%= link_to '<b>Cancel request</b>'.html_safe, 'javascript:;', class: 'btn btn-sm btn-default', 'data-toggle': "modal", 'data-target': "#cancelRequestModal" %>
        <%= link_to '<b>Download as zip</b>'.html_safe, '', class: 'btn btn-sm btn-default' %>
        <%= link_to '<b class="text-muted"><i class="glyphicon glyphicon-envelope"></i> View Messages</b>'.html_safe, "#{messages_url}?id=#{@request.id}", class: "btn btn-default btn-sm pull-right" %>
      </div>
      
      <% elsif @request.folder_id == 2 %>
        <% if @request.winner.nil? %>
          <div class="alert alert-warning">
            This request was closed by <b class="text-info"><%= @request.user.name %></b> at <%= @request.updated_at.strftime("%b %d, %Y %H:%M ( %Z%z )") %>
          </div>
        <% else %>          
          <div class="alert alert-success">
            We selected winner (<%= @request.winner.email %>) for this request and closed it. Thanks for your interesting.
          </div>

          <div>
            <%= link_to '<b>Open report</b>'.html_safe, open_report_path(@request), target: '_blank', class: 'btn btn-sm btn-default' %>
            <%= link_to '<b>Download as zip</b>'.html_safe, '#', class: 'btn btn-sm btn-default' %>
            <%= link_to '<b>Compare bids</b>'.html_safe, compare_bids_path(@request.id), class: 'btn btn-sm btn-default' %>
            <%= link_to '<b class="text-muted"><i class="glyphicon glyphicon-envelope"></i> View Messages</b>'.html_safe, "#{messages_url}?id=#{@request.id}", class: "btn btn-default btn-sm pull-right" %>
          </div>
          
        <% end %>

      <% elsif @request.folder_id == 3 %>
      
      <div class="alert alert-warning">
        This request was archived by <b class="text-info"><%= @request.user.name %></b> at <%= @request.updated_at.strftime("%b %d, %Y %H:%M ( %Z%z )") %>
      </div>

      <div>
        <%= link_to '<b>Open report</b>'.html_safe, open_report_path(@request), target: '_blank', class: 'btn btn-sm btn-default' %>
        <%= link_to '<b>Download as zip</b>'.html_safe, '#', class: 'btn btn-sm btn-default' %>
        <%= link_to '<b>Compare bids</b>'.html_safe, compare_bids_path(@request.id), class: 'btn btn-sm btn-default' %>
        <%= link_to '<b class="text-muted"><i class="glyphicon glyphicon-envelope"></i> View Messages</b>'.html_safe, "#{messages_url}?id=#{@request.id}", class: "btn btn-default btn-sm pull-right" %>
      </div>

      <% end %>
    <% end %>
    <hr>
    <small class="text-muted">
      <b>
        Public web address: 
        <i class="glyphicon glyphicon-info-sign"></i> 
        <%= link_to view_request_url( @request.id, ('a'..'z').to_a.shuffle[0,10].join ), view_request_url( @request.id, ('a'..'z').to_a.shuffle[0,10].join )  %>
      </b>
    </small>    
    <hr>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#request-details">Request details</a></li>
      <li><a data-toggle="tab" href="#suppliers">Suppliers</a></li>
      <li><a data-toggle="tab" href="#bids">Bids</a></li>
    </ul>

    <div class="tab-content">
      <div id="request-details" class="tab-pane fade in active">
        <div class="well">
          <div class="row">
            <div class="col-xs-3">
              <b class="text-muted">Buyer</b>
            </div>
            <div class="col-xs-9">
              <%= @request.user.name %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <b class="text-muted">Published</b>
            </div>
            <div class="col-xs-9">
              <%= @request.created_at.strftime("%b %d, %Y %H:%M ( %Z%z )") %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <b class="text-muted">Due date</b>
            </div>
            <div class="col-xs-9">
              <%= @request.end_time.strftime("%b %d, %Y %H:%M ( %Z%z )") %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <b class="text-muted">Description</b>
            </div>
            <div class="col-xs-9">
              <pre><%= @request.description.html_safe %></pre>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <b class="text-muted">Expected budget</b>
            </div>
            <div class="col-xs-9">
              <b><%= @request.expected_budget %> <%= @request.preferred_currency %></b>
            </div>
          </div>
        </div>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                List of items</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Quantity</th>
                      <th>Unit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @request.items.each_with_index do |item,index| %>
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= item.name %></td>
                      <td><%= item.quantity %></td>
                      <td><%= item.unit %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                Questionaire</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
              <div class="panel-body">
                <ul style="list-style: numeric;">
                  <% @request.questions.each_with_index do |question,index| %>
                  <li><%= "<b>#{question.title}</b><br><p class='text-muted'>#{question.description}</p>".html_safe %></li>
                  <% end %>
                </ul>                
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                Added Document</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
              <div class="panel-body">
                <% unless @request.attach.empty? %>
                <% @request.attach.split("[!!!]").each do |document| %>
                  <%= link_to "<i class='glyphicon glyphicon-file'></i> #{url_decode(document).split('/').last}".html_safe, document.html_safe %><hr>
                <% end %>
                <% else %>
                No added document
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div id="suppliers" class="tab-pane fade">
        <h3>Request is published as: <%= @request.permission %> request</h3>
        <hr>
        <% unless @request.winner.nil? %>
          <label class="text-info">Winner</label>
          <table class="table">
            <tbody>
              <tr class="text-success">
                <td>
                  <b><%= @request.winner.company.name %></b> :
                  <%= @request.winner.correct_user.name %><em>( <%= @request.winner.email %> )</em>
                </td>
                <td>
                  <%= @request.winner.bids.where(request_id: @request.id).count %> bid(s)
                </td>
                <td>
                  <%= @request.bids.where(status: 'win').first.bid_budget %> <%= @request.bids.where(status: 'win').first.bid_currency %>
                </td>
                <td>
                  <%= @request.bids.where(status: 'win').first.created_at.strftime("%b %d, %Y %H:%M ( %Z%z )") %>
                </td>
                <td>
                  <%= link_to '<i class="glyphicon glyphicon-envelope text-muted"></i>'.html_safe, "#{messages_url}?id=#{@request.id}", class: "btn btn-default" %>
                </td>
              </tr>
            </tbody>
          </table>
        <% end %>
        <label class="text-info">Bids Made</label>
        <table class="table">
          <tbody>
            <% @suppliers.each do |supplier| %>
              <% if supplier.bids.where(request_id: @request.id).exists? %>
                <tr>
                  <td>
                    <b>
                    <%= supplier.company.name %>
                    </b> : 
                    <%= supplier.correct_user.name %> ( <%= supplier.email %> )
                  </td>
                  <td><%= supplier.bids.where(request_id: @request.id).count %> bid(s)</td>
                  <td><%= supplier.bids.where(request_id: @request.id).first.created_at.strftime("%b %d, %Y %H:%M ( %Z%z )") %></td>
                  <td>
                    <%= link_to '<i class="glyphicon glyphicon-envelope text-muted"></i>'.html_safe, "#{messages_url}?id=#{@request.id}", class: "btn btn-default" %>
                  </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
          <label class="text-info">Wants To Bid</label>
          <table class="table">
          <tbody>
            <% @suppliers.each do |supplier| %>
            <tr>
              <td>
                <b>
                <%= supplier.company.name %>
                </b> : 
                <%= supplier.correct_user.name %> ( <%= supplier.email %> )
              </td>
              <!-- <td><%= supplier.bids.where(request_id: @request.id).where(status: 'sent').count %> bid(s)</td> -->
              <td><%= supplier.created_at.strftime("%b %d, %Y %H:%M ( %Z%z )") %></td>
              <td>
                <%= link_to '<i class="glyphicon glyphicon-envelope text-muted"></i>'.html_safe, "#{messages_url}?id=#{@request.id}", class: "btn btn-default" %>
              </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div id="bids" class="tab-pane fade">
          <br>
          <% unless @request.winner.nil? %>
          <label class="text-info">Winner</label>
            <table class="table">
              <tbody>
                <tr class="text-success">
                  <td>
                    <b><%= @request.winner.company.name %></b> :
                    <%= @request.winner.correct_user.name %><em>( <%= @request.winner.email %> )</em>
                  </td>
                  <td>
                    <%= @request.winner.bids.where(request_id: @request.id).count %> bid(s)
                  </td>
                  <td>
                    <%= @request.bids.where(status: 'win').first.bid_budget %> <%= @request.bids.where(status: 'win').first.bid_currency %>
                  </td>
                  <td>
                    <%= @request.bids.where(status: 'win').first.created_at.strftime("%b %d, %Y %H:%M ( %Z%z )") %>
                  </td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Actions
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'View bid', @request.bids.where(status: 'win').first %></li>
                        <li><%= link_to 'Remove bid', '#' %></li>
                      </ul>
                    </div>                
                  </td>
                  <td>
                    <%= link_to '<i class="glyphicon glyphicon-envelope text-muted"></i>'.html_safe, "#{messages_url}?id=#{@request.id}", class: "btn btn-default" %>
                  </td>
                </tr>
              </tbody>
            </table>
          <% end %>
          <label class="text-info">Bids</label>
          <table class="table">
            <thead>
              <tr><th>Company</th><th>Total</th><th>Difference</th><th>Bid time</th><th></th></tr>
            </thead>
            <tbody>
              <% @request.bids.each do |bid| %>
              <tr>                
                <td>
                  <b>
                  <%= bid.supplier.company.name %>
                  </b>
                   : 
                  <%= bid.supplier.correct_user.name %>

                  ( <%= bid.supplier.email %> )
                </td>
                <td><%= bid.bid_budget %> <%= bid.bid_currency %></td>
                <td>
                  <%= bid.difference_budget %> 
                </td>
                <td><%= bid.created_at.strftime("%b %d, %Y %H:%M ( %Z%z )") %></td>                
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Actions
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'View bid', bid %></li>
                      <li><%= link_to 'Remove bid', '#' %></li>
                    </ul>
                  </div>                
                </td>
                <td>
                  <%= link_to '<i class="glyphicon glyphicon-envelope text-muted"></i>'.html_safe, "#{messages_url}?id=#{@request.id}", class: "btn btn-default" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </section>


<div id="assignRequestModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for :assign, url: assign_request_path, method: :post do |f| %>
      <%= f.hidden_field :request, value: @request.id %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Assign this request to a colleague</h4>
      </div>
      <div class="modal-body">
        <div class="form-group required">
          <label class="control-label">Colleague</label>
          <%= f.select(:buyer, @request.company.users.collect {|s| [s[:name].to_s, s[:id].to_s]}, {},{:class => "form-control", :requried => true} ) %>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
        <%= f.submit 'Assign', class:'btn btn-info' %>
      </div>
    <% end %>
    </div>
  </div>
</div>


<div id="editRequestModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Request</h4>
      </div>
      <div class="modal-body">
        <b>Please choose how do you like to make changes:</b><br><br>
        <%= link_to "#{edit_request_path(@request)}?priority=minor" do %>
          <div class="well text-center">
            <h4><b>MINOR ADDITIONS</b></h4>
            Make small additions to request, add documents or revise description.<br>
            For changes that will not affect suppliers’ decision to participate on the request or existing bids.<br><br>
          </div>
        <% end %>
        <%= link_to "#{edit_request_path(@request)}?priority=major" do %>
          <div class="well text-center">
            <h4><b>MAJOR CHANGE</b></h4>
            Make major changes in the request, amend item list or questions.<br>
            All bids and supplier statuses will be deleted.<br>
            Suppliers have to decide again if they want to participate.<br><br>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>


<div id="extendRequestModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for(@request) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Extend Closing Date</h4>
      </div>
      <div class="modal-body">
        <p>
          Extending the end time gives suppliers additional time to make bids or to invite new participants that were forgotten during the listing of the request.<br>
          Every participant of the request will be informed about the extension of the deadline.
        </p>
        
        <div class="form-group">
          <label class="control-label">Closing date of request:</label>
          <h4><b><%= @request.end_time.strftime("%b %d, %Y %H:%M ( %Z%z )") %></b></h4>          
        </div>

        <div class="form-group required">
          <label class="control-label">New closing date</label>
          <div class='input-group date' id='request-end-time'>
            <%= f.text_field :end_time, class: 'form-control', required: true %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>      
        </div>

        <div class="form-group required">
          <label class="control-label">Reason</label>
          <%= f.text_area :extend_reason, class: 'form-control', rows: 5 %>
        </div>

      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
        <%= f.submit 'Extend', class: 'btn btn-info' %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div id="cancelRequestModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag change_status_path(@request.id, 2), method: :get do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cancel Request</h4>
      </div>
      <div class="modal-body">
        <p>
          You are about to cancel the request. After cancelling a request you cannot republish it anymore. If you are sure you want to cancel it, please enter a reason that will be sent to suppliers and click on "Cancel request" button.
        </p>
        <br>
        <div class="form-group required">
          <label class="control-label">Reason for cancelling</label>
          <%= text_area_tag('cancel_reason', nil, class: 'form-control', rows: 5) %>
        </div>

      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Close</a>
        <%= submit_tag 'Cancel request', class: 'btn btn-danger' %>
      </div>
      <% end %>
    </div>
  </div>
</div>



