<% provide(:title, "Requisitions") %>
<section style="min-height: 60vh;">
  <div class="container">
    <% if @requisitions.empty? %>
      <br><br>
      <h1 class="text-info text-center">Capture, route, and track requisitions from all internal customers on Tenderbooks</h1>
      <hr>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <%= image_tag 'buyer/requisitions.png', class: 'img-responsive', style: 'margin: 0 auto;' %>  
        </div>
        <div class="col-md-4 text-center">
          <p>Requesters fill in a simple web form, and the requisition gets sent to you. From there, you can assign it to a buyer and send it for approval. Afterwards the requisition can be converted to a PO or RFP. </p>
          <br>
          <%= link_to 'Schedule a live demo', 'javascript:;', class: 'btn btn-info btn-lg', 'data-confirm': 'Sorry, Live demo is not yet ready.' %><br><br>
          <a href="javascript:;" data-toggle="modal" data-target="#webformModal">
            Access requisition web form
          </a>
        </div>        
      </div>
      <br><br>
    <% else %>
    <ul class="nav nav-tabs">
      <li><a href="javascript:;" id="showFolders" >Show filters</a></li>
      <li class="active"><a data-toggle="pill" href="#reqruisitionsActiveRequisitions">Active requisitions</a></li>
      <li><a data-toggle="pill" href="#requisitionsArchivedRequisitions">Archived requisitions</a></li>
      <li class="pull-right">
        <button class="btn btn-sm btn-success"  data-toggle="modal" data-target="#webformModal">
          <i class="glyphicon glyphicon-plus"></i>
          Access requisition web form
        </button>        
      </li>
    </ul>

    <div id="sidebar-menu">
      <h4 class="text-muted">
        Filter requisitions
        <span class="pull-right"><a id="hideFolders" class="btn btn-blue btn-xs" href="javascript:;">
          <i class="glyphicon glyphicon-triangle-left"></i>
        </a></span>
      </h4>
      <hr>
      <h5>By buyer</h5>
      <hr>
      <select class="form-control">
        <option>Assign to me</option>
        <option>All requisitions</option>
      </select>
      <hr>
      <h5>By status</h5>
      <hr>
    </div>

    <div class="tab-content">
      <div id="requrisitionsShowFilter" class="tab-pane fade in active">
        
      </div>
      <div id="reqruisitionsActiveRequisitions" class="tab-pane fade in active">
        <br>
        <div class="panel-group" id="accordion">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  New
                  <% unless @new_requisitions.empty? %>
                    <span class="badge"><%= @new_requisitions.count %></span>
                  <% end %>
                  <small class="pull-right">
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                  </small>
                </a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>
                        <small class="text-muted">Name</small>
                      </th>
                      <th>
                        <small class="text-muted">Messages</small>
                      </th>
                      <th>
                        <small class="text-muted">Requisitioner</small>
                      </th>
                      <th>
                        <small class="text-muted">Delivery date</small>
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if @new_requisitions.empty? %>
                    <tr>
                      <td colspan="4">
                        <p class="text-muted">
                          There are no new requisitions.
                        </p>
                      </td>
                    </tr>
                    <% else %>
                      <% @new_requisitions.each do |requisition| %>
                        <tr>
                          <td><%= requisition.name %></td>
                          <td><i class="glyphicon glyphicon-envelope"></i> <%= requisition.messages.count %></td>
                          <td><%= requisition.contact_name %></td>
                          <td><%= requisition.delivery_date %></td>
                          <td><%= link_to 'View', requisition_path(requisition.id), class: 'btn btn-default btn-sm' %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                  Open
                  <% unless @open_requisitions.empty? %>
                    <span class="badge"><%= @open_requisitions.count %></span>
                  <% end %>
                  <small class="pull-right">
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                  </small>
                </a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>
                        <small class="text-muted">Name</small>
                      </th>
                      <th>
                        <small class="text-muted">Messages</small>
                      </th>
                      <th>
                        <small class="text-muted">Requisitioner</small>
                      </th>
                      <th>
                        <small class="text-muted">Buyer</small>
                      </th>
                      <th>
                        <small class="text-muted">Delivery date</small>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if @open_requisitions.empty? %>
                    <tr>
                      <td colspan="5">
                        <p class="text-muted">
                          There are no open requisitions.
                        </p>
                      </td>
                    </tr>
                    <% else %>
                      <% @open_requisitions.each do |requisition| %>
                        <tr>
                          <td><%= requisition.name %></td>
                          <td><i class="glyphicon glyphicon-envelope"></i> <%= requisition.messages.count %></td>
                          <td><%= requisition.contact_name %></td>
                          <td><%= requisition.user.name %></td>
                          <td><%= requisition.delivery_date %></td>
                          <td><%= link_to 'View', requisition_path(requisition.id), class: 'btn btn-default btn-sm' %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                  Returned
                  <% unless @returned_requisitions.empty? %>
                    <span class="badge"><%= @returned_requisitions.count %></span>
                  <% end %>
                  <small class="pull-right">
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                  </small>
                </a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>
                        <small class="text-muted">Name</small>
                      </th>
                      <th>
                        <small class="text-muted">Messages</small>
                      </th>
                      <th>
                        <small class="text-muted">Requisitioner</small>
                      </th>
                      <th>
                        <small class="text-muted">Buyer</small>
                      </th>
                      <th>
                        <small class="text-muted">Delivery date</small>
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if @returned_requisitions.empty? %>
                    <tr>
                      <td colspan="5">
                        <p class="text-muted">
                          There are no returned requisitions.
                        </p>
                      </td>
                    </tr>
                    <% else %>
                      <% @returned_requisitions.each do |requisition| %>
                        <tr>
                          <td><%= requisition.name %></td>
                          <td><i class="glyphicon glyphicon-envelope"></i> <%= requisition.messages.count %></td>
                          <td><%= requisition.contact_name %></td>
                          <td><%= requisition.user.name %></td>
                          <td><%= requisition.delivery_date %></td>
                          <td><%= link_to 'View', requisition_path(requisition.id), class: 'btn btn-default btn-sm' %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                  Tendering
                  <% unless @tendering_requisitions.empty? %>
                    <span class="badge"><%= @tendering_requisitions.count %></span>
                  <% end %>
                  <small class="pull-right">
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                  </small>
                </a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>
                        <small class="text-muted">Name</small>
                      </th>
                      <th>
                        <small class="text-muted">Messages</small>
                      </th>
                      <th>
                        <small class="text-muted">Requisitioner</small>
                      </th>
                      <th>
                        <small class="text-muted">Buyer</small>
                      </th>
                      <th>
                        <small class="text-muted">RFx</small>
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if @tendering_requisitions.empty? %>
                    <tr>
                      <td colspan="5">
                        <p class="text-muted">
                          There are no tendering requisitions.
                        </p>
                      </td>
                    </tr>
                    <% else %>
                      <% @tendering_requisitions.each do |requisition| %>
                        <tr>
                          <td><%= requisition.name %></td>
                          <td><i class="glyphicon glyphicon-envelope"></i> <%= requisition.messages.count %></td>
                          <td><%= requisition.contact_name %></td>
                          <td><% unless requisition.user.nil? %> <%= requisition.user.name %> <% end %></td>
                          <td><%= requisition.request.name %></td>
                          <td><%= link_to 'View', requisition_path(requisition.id), class: 'btn btn-default btn-sm' %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>            
      </div>
      <div id="requisitionsArchivedRequisitions" class="tab-pane fade">
        <br>
        <div class="panel-group" id="accordion1">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse21">
                  Tendering
                  <% unless @tendering_requisitions.empty? %>
                    <span class="badge"><%= @tendering_requisitions.count %></span>
                  <% end %>
                  <small class="pull-right">
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                  </small>
                </a>
              </h4>
            </div>
            <div id="collapse21" class="panel-collapse collapse in">
              <div class="panel-body table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>
                        <small class="text-muted">Name</small>
                      </th>
                      <th>
                        <small class="text-muted">Messages</small>
                      </th>
                      <th>
                        <small class="text-muted">Requisitioner</small>
                      </th>
                      <th>
                        <small class="text-muted">Buyer</small>
                      </th>
                      <th>
                        <small class="text-muted">RFx</small>
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if @tendering_requisitions.empty? %>
                    <tr>
                      <td colspan="5">
                        <p class="text-muted">
                          There are no tendering requisitions.
                        </p>
                      </td>
                    </tr>
                    <% else %>
                      <% @tendering_requisitions.each do |requisition| %>
                        <tr>
                          <td><%= requisition.name %></td>
                          <td><i class="glyphicon glyphicon-envelope"></i> <%= requisition.messages.count %></td>
                          <td><%= requisition.contact_name %></td>
                          <td><% unless requisition.user.nil? %> <%= requisition.user.name %> <% end %></td>
                          <td><%= requisition.request.name %></td>
                          <td><%= link_to 'View', requisition_path(requisition.id), class: 'btn btn-default btn-sm' %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse22">
                  Closed
                  <% unless @closed_requisitions.empty? %>
                    <span class="badge"><%= @closed_requisitions.count %></span>
                  <% end %>
                  <small class="pull-right">
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                  </small>
                </a>
              </h4>
            </div>
            <div id="collapse22" class="panel-collapse collapse">
              <div class="panel-body table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>
                        <small class="text-muted">Name</small>
                      </th>
                      <th>
                        <small class="text-muted">Messages</small>
                      </th>
                      <th>
                        <small class="text-muted">Requisitioner</small>
                      </th>
                      <th>
                        <small class="text-muted">Buyer</small>
                      </th>
                      <th>
                        <small class="text-muted">Result</small>
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if @closed_requisitions.empty? %>
                    <tr>
                      <td colspan="5">
                        <p class="text-muted">
                          There are no closed requisitions.
                        </p>
                      </td>
                    </tr>
                    <% else %>
                      <% @closed_requisitions.each do |requisition| %>
                        <tr>
                          <td><%= requisition.name %></td>
                          <td><i class="glyphicon glyphicon-envelope"></i> <%= requisition.messages.count %></td>
                          <td><%= requisition.contact_name %></td>
                          <td><%= requisition.user.name %></td>
                          <td><%= requisition.request.name %></td>
                          <td><%= link_to 'View', requisition_path(requisition.id), class: 'btn btn-default btn-sm' %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>            
      </div>
    </div>
    <% end %>
  </div>
</section>

<div id="webformModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Access requisition web form</h4>
      </div>
      <div class="modal-body">
        <p class="text-muted">Share this link with colleagues who wish to make a purchase requieset.</p>
        <div class="form-group">
          <input type="text" class="form-control" id="web-form" value="<%= @web_form %>">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" id="copy-web-form">Copy to clipboard</button>
      </div>
    </div>
  </div>
</div>