<% provide(:title, "Requisition") %>

<section style="min-height: 60vh;">
  <div class="container">

    <% if @requisitioner and @requisition.status == 'new' %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
      You submitted this requisition for review.
    </div>
    <div class="well-sm well">
      <h5>Requisition number: #<%= @requisition.id %></h5>
    </div>
    <% end %>

    <% if @colleague and @requisition.status == 'new' %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
      <b class="text-info"><%= @requisition.contact_name %></b> submitted this requisition for review and added you to this requisition.
    </div>
    <div class="well-sm well">
      <h5>Requisition number: #<%= @requisition.id %></h5>
    </div>    
    <% end %>

    <% if @is_company and @requisition.status == 'new' %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
      <b class="text-info"><%= @requisition.contact_name %></b> submitted this requisition for review and you received this requisition.
    </div>
    <div class="well-sm well">
      <h5>
        Requisition number: #<%= @requisition.id %>
        <%= link_to '<b>Open request</b>'.html_safe, "#{new_request_path('RFQ')}?requisition_id=#{@requisition.id}", class: 'btn btn-default btn-sm pull-right' %>
      </h5> 
    </div>    
    <% end %>

    <% unless @requisition.request.nil? %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
      A RFX has been created from this requisition.
    </div>
    <div class="well-sm well">
      <h5>Result: created an RFx: <%= @requisition.request.name %></h5>
      <h5>Requisition number: #<%= @requisition.id %></h5>
      <h5>Assigned to: <% unless @requisition.user.nil? %> <%= @requisition.user.name %> <% end %></h5>
    </div>
    <% end %>
    <hr>

    
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="text-center text-muted">What do you need?</h4></div>
      <div class="panel-body">
        
        <div class="form-group required">
          <small><label class="control-label" >Name of product or service</label></small>
          <input type="text" value="<%= @requisition.name %>" class="form-control" disabled>
        </div>

        <div class="form-group required">
          <small><label class="control-label" >Description</label></small>
          <pre class="well"><%= @requisition.description %></pre>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group required">
              <small><label class="control-label" >Delivery date</label></small>
                <input type="text" value="<%= @requisition.delivery_date %>" class="form-control" disabled>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <small><label class="control-label" >Quantity</label></small>
                <input type="text" value="<%= @requisition.quantity %>" class="form-control" disabled>
              </div>
            </div> 
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <small><label class="control-label" >Budget</label></small>
                    <input type="text" value="<%= @requisition.budget %>" class="form-control" disabled>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <small><label class="control-label" >Budget currency</label></small>
                    <input type="text" value="<%= @requisition.budget_currency %>" class="form-control" disabled>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <small><label class="control-label" >Project</label></small>
                <input type="text" value="<%= @requisition.project %>" class="form-control" disabled>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <small><label class="control-label" >Cost center</label></small>
                <input type="text" value="<%= @requisition.cost_center %>" class="form-control" disabled>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <small><label class="control-label" >Delivery address</label></small>
                <textarea class="form-control" disabled><%= @requisition.delivery_address %></textarea>
              </div>
            </div>
          </div>  

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><h4 class="text-center text-muted">How can we contact you?</h4></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group required">
                <small><label class="control-label" >Name</label></small>
                <input type="text" value="<%= @requisition.contact_name %>" class="form-control" disabled>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group required">
                <small><label class="control-label" >Email</label></small>
                <input type="text" value="<%= @requisition.contact_email %>" class="form-control" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <small><label class="control-label" >Phone</label></small>
                <input type="text" value="<%= @requisition.contact_phone %>" class="form-control" disabled>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <small><label class="control-label" >Department</label></small>
                <input type="text" value="<%= @requisition.contact_department %>" class="form-control" disabled>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <small><label class="control-label" >Manager's name</label></small>
                <input type="text" value="<%= @requisition.contact_manager %>" class="form-control" disabled>
              </div>
            </div>
          </div>   
        </div>
      </div> 

      <div class="panel panel-default" >
        <div class="panel-heading"><h4 class="text-center text-muted">Stackholders</h4></div>
        <div class="panel-body">
          <% unless @colleague %>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group required">
                  <small><label class="control-label">Name</label></small>
                  <input type="text" id="colleague-name" class="form-control colleague-input-ajax" >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group required">
                  <small><label class="control-label">Email</label></small>
                  <input type="eamil" id="colleague-email" class="form-control colleague-input-ajax" >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <small><label class="control-label">Phone</label></small>
                  <input type="text" id="colleague-phone" class="form-control colleague-input-ajax" >
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <small><label class="control-label">Job title</label></small>
                  <input type="text" id="colleague-job" class="form-control colleague-input-ajax" >
                </div>
              </div>
            </div>
            <div class="alert" id="stockholder-result"></div>
          <% end %>
          <table class="table" id="colleague-table">
            <tbody>

              <% @requisition.stockholders.each do |colleague| %>
                <tr>
                  <td>
                    <span><%= colleague.name %></span>
                    <input type="text" value="<%= colleague.name %>" class="form-control">
                  </td>
                  <td>
                    <span><%= colleague.email %></span>
                    <input type="text" value="<%= colleague.email %>" class="form-control">
                  </td>
                  <td>
                    <span><%= colleague.phone %></span>
                    <input type="text" value="<%= colleague.phone %>" class="form-control">
                  </td>
                  <td>
                    <span><%= colleague.job %></span>
                    <input type="text" value="<%= colleague.job %>" class="form-control">
                  </td>
                  <td>
                    <% unless @colleague %>
                      <i class="glyphicon glyphicon-check text-success" data-url="<%= stockholder_url(colleague.id) %>" ></i>&nbsp;
                      <i class="glyphicon glyphicon-edit text-info"></i>&nbsp;
                      <i class="glyphicon glyphicon-remove text-danger" data-url="<%= stockholder_url(colleague.id) %>" ></i>
                    <% end %>                    
                  </td>
                </tr>
              <% end %>

            </tbody>
          </table>
          <% unless @colleague %>
          <hr>
          <div class="text-right">
            <a 
              href="javascript:;" 
              class="btn btn-info btn-sm" 
              id="add-colleague-ajax" 
              data-id="<%= @requisition.id %>" 
              data-url="<%= stockholders_url() %>" >Add</a>
          </div>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><h4 class="text-center text-muted">Additional Document</h4></div>
        <div class="panel-body">
          <% if @requisition.additional_document.empty? %>
            <p class="text-muted">There is no additional document...</p>
          <% else %>
            <%= link_to @requisition.additional_document, @requisition.additional_document %>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" id="message-board-title"><h4 class="text-center text-muted">Messages</h4></div>
        <div class="panel-body">
          <div class="alert" id="message-result"></div>
          <div class="form-group"><textarea class="form-control" rows="3" id="message-content" ></textarea></div>
          <hr>          
          <div class="text-right">
            <a 
              href="javascript:;" 
              class="btn btn-info text-uppercase" 
              id="send-message" 
              data-requisition='<%= @requisition.id %>'
              data-url='<%= messages_path %>'
              <% if @is_company %>
              data-buyer='<%= current_company.id %>'
              <% end %>
              <% if @colleague %>
              data-colleague='<%= @colleague.name %>'
              <% end %> >send message</a>
          </div>
          
          <hr>
          <% @requisition.messages.reverse_each do |message| %>
          <div class="well well-sm message-box">
            <h4 class="text-info">
              <% if message.from == 'company' %>
                <%= @requisition.company.name %>
              <% elsif message.from == 'requisitioner' %>
                <%= @requisition.contact_name %>
              <% elsif message.from.start_with? 'colleague_' %>
                <%= message.from.split('_')[1] %> ( colleague )
              <% end %>
              &nbsp;&nbsp;
              <% if ( message.from == 'company' and @requisitioner ) or 
                    ( message.from == 'requisitioner' and @is_company ) or 
                    ( message.from.start_with?('colleague_') and @is_company ) %>                
                <% unless message.read %>
                  <a href="javascript:;" class="btn btn-xs btn-info reply-message">Reply</a>
                  <a href="javascript:;" class="btn btn-xs btn-primary mark-read" data-url="<%= message_url(message.id) %>" >Mark as read</a>
                <% else %>
                  <small><span class="label label-success">Read</span></small>
                <% end %>
              <% else %>
                <% if message.read %>
                  <small><span class="label label-success">Read</span></small>
                <% else %>
                  <small><span class="label label-warning">Unread</span></small>
                <% end %>
              <% end %>              
            </h4>
            <hr>
            <pre><%= message.content %></pre>
            <div class='text-right'>
              <small class="text-muted">
                <i class="glyphicon glyphicon-time"></i>
                <%= message.created_at %>
              </small>
            </div>
          </div>
          <% end %>
          <div class="well well-sm message-box">
            <h4 class="text-info">
              <%= @requisition.contact_name %>&nbsp;&nbsp;
              <small><span class="label label-success"><i class="glyphicon glyphicon-info-sign"></i></span></small>
            </h4><hr>
            <p>
              <%= @requisition.contact_name %> created this requisition and submitted
            </p>
            <div class='text-right'>
              <small class="text-muted">
                <i class="glyphicon glyphicon-time"></i>
                <%= @requisition.created_at %>
              </small>
            </div>
          </div>
        </div>
      </div>

      

    </div>
  </section>