<%= form_for(company) do |f| %>
<% if company.errors.any? %>
  <%= error_message company %>
<% end %>
<%= f.hidden_field :user, :value => current_user.id %>
<%= f.hidden_field :logo, :value => company.logo %>
<div class="panel-group" id="accordion">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        GENERAL DETAILS</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        
          <div class="row">
            <div class="col-md-6">
              <div class="form-group required">
                <%= f.label :name, class: 'control-label' %>
                <%= f.text_field :name, class: 'form-control', required: true %>
              </div>
              <div class="form-group required">
                <%= f.label :country, class: 'control-label' %>
                <%= f.select(:country, country_list.collect {|s| [s[:name].to_s, s[:name].to_s]}, {:include_blank => "Select Country"}, {:class => "form-control", :requried => true} ) %>
              </div>
              <div class="form-group">
                <%= f.label :city, class: 'control-label' %>
                <%= f.text_field :city, class: 'form-control' %>
              </div>            
            </div>
            <div class="col-md-6">
              <a class="btn btn-default" data-toggle="modal" data-target="#companyLogoModal" ><i class="glyphicon glyphicon-cloud-upload"></i> Logo</a>
              <% if company.logo.blank? %>
                <%= image_tag 'buyer/noimageCompany.gif', class: 'img-responsive company-logo' %>
              <% else %>
                <%= image_tag company.logo, class: 'img-responsive company-logo' %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :address, class: 'control-label' %>
                <%= f.text_field :address, class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :zip, class: 'control-label' %>
                <%= f.text_field :zip, class: 'form-control' %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        COMPANY CONTACTS</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse in">
      <div class="panel-body">
        
          <div class="row">
            <div class="col-md-6">
              <div class="form-group required">
                <%= f.label :email, class: 'control-label' %>
                <%= f.text_field :email, class: 'form-control', required: true %>
              </div>
              <div class="form-group">
                <%= f.label :phone, class: 'control-label' %>
                <%= f.text_field :phone, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :homepage, class: 'control-label' %>
                <%= f.text_field :homepage, class: 'form-control' %>
              </div>            
            </div>
            <div class="col-md-6">              
            </div>
          </div>                    
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        ADDITIONAL INFORMATION</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse in">
      <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= f.label 'Business type', class: 'control-label' %>
            </div>
          </div>
          <div class="row">
            <% business_type_list.each do |type| %>
              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="company[business_type][]" value="<%= type[:name] %>" 
                      <% unless company.business_type.nil? %>
                        <%= 'checked' if company.business_type.include? type[:name] %> 
                      <% end %>
                    >
                    <%= type[:name] %>
                  </label>
                </div>
              </div>
            <% end %>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :employees, class: 'control-label' %>
                <%= f.select(:employees, employees_list.collect {|s| [s[:name].to_s, s[:name].to_s]}, {:include_blank => "Select Employees"}, {:class => "form-control"} ) %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :turnover, class: 'control-label' %>
                <%= f.select(:turnover, turnover_list.collect {|s| [s[:name].to_s, s[:name].to_s]}, {:include_blank => "Select Turnover"}, {:class => "form-control"} ) %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :established, class: 'control-label' %>
                <%= f.text_field :established, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.label 'Company Introduction', class: 'control-label' %>
              <%= f.text_area :introduction, class: 'form-control' %>
            </div>
          </div>                 
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        REQUESTS</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse in">
      <div class="panel-body">
        
          <div class="row">
            <div class="col-md-6">
              <%= f.label 'Default Invitaiton language', class: 'control-label' %>
              <%= f.select(:language, language_list.collect {|s| [s[:name].to_s, s[:name].to_s]}, {:include_blank => "Select Language"}, {:class => "form-control"} ) %>
            </div>
          </div>     
      </div>
    </div>
  </div>            
</div>
<hr>
<div class="text-right">
  <%= f.submit 'Save', class: 'btn btn-info' %>
</div>
<hr>
<br><br>
<% end %>

<!-- CompanyLogoUploadModal -->
<div id="companyLogoModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload Logo</h4>
      </div>
      <div class="modal-body">
        <% unless current_page?(new_company_path) %>
          <div id="companylogo" data-url="<%= @s3_direct_post.url %>" data-fields="<%= @s3_direct_post.fields.to_json %>" class="well dropzone bg-info">
            <div class="dz-message">
              <span>Drag and drop file here to upload</span>
            </div>
          </div>
        <% else %>
          <div class="alert alert-danger">
            <strong>Sorry!</strong>
            You can upload company logo after creating company.
          </div>
        <% end %>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>

  </div>
</div>

<% unless current_company.nil? %>
<% unless current_company.owner == current_user %>
<script type="text/javascript">
  $('input').attr('disabled', true);
  $('select').attr('disabled', true);
  $('textarea').attr('disabled', true);
  $('a[data-target="#companyLogoModal"]').remove();
  $('input[type="submit"]').remove();
</script>
<% end %>
<% end %> 