<% provide(:title, "About") %>
<section id="about-banner">
	<div class="container">
		<h3 class="text-blue">ABOUT</h3>
		<h2 class="text-blue">Reimagining<br> sourcing</h2>
		<h3 class="text-muted">Tenderbooks is the leading next-generation<br> competitive bidding and RFx platform.</h3>
	</div>
</section>

<section id="pros-section" class="skew" style="background-image: none;">
	<div class="container">
		<h2 class="text-blue">
			We thought sourcing deserved<br> better tools. We were right.
		</h2>
		<hr>
		<div class="row">
			<div class="col-sm-6">
				<h3 class="text-muted">
					Bonfire was founded in 2012 with a simple premise: sourcing professionals deserve better software. Not outdated bidding portals, underwhelming eProcurement suites, or the after-thought features of legacy ERP systems.<br><br>We believe that sourcing deserves a modern toolkit that delivers deeper workflow automation, richer data, and easier collaboration, leveraging the latest technology through machine learning/AI and predictive analytics.
				</h3>
			</div>
			<div class="col-sm-6">
				<%= image_tag 'about/about-image-2.jpg', class: 'img-responsive' %>
			</div>
		</div>
	</div>
</section>

<section id="contact-section" class="skew">
	<div class="container text-center">
		<h2>We're in a new age of sourcing software.<br><b>We call it Adaptive Sourcing.</b></h2>
		<br><br>
		<h3><i>WE'RE JUST GETTING STARTED.</i></h3>
		<p>Reach out to start the conversation</p>
		<a href="#" class="btn btn-transparent">Contact</a>
	</div>
</section>

<section class="skew">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 text-center">
				<%= image_tag 'about/trusted-partner.svg', class: 'about-svg-img' %>
				<h3><big>TRUSTED PARTNER<br> TODAY</big></h3>
				<p class="text-muted">
					We're the fastest-growing procurement platform on the market, for good reason. Our clients win awards. We have 98% adoption rates. And most importantly, hundreds of organizations trust us with billions of dollars of sourcing each year - from simple bids to complex $100M+ decisions.
				</p>
			</div>
			<div class="col-sm-6 text-center">
				<%= image_tag 'about/building-for-the-future.svg', class: 'about-svg-img' %>
				<h3><big>BUILDING FOR THE<br> FUTURE OF PROCUREMENT</big></h3>
				<p class="text-muted">
					We are always listening and learning from our customers, to build a smarter, more collaborative, and more advanced sourcing platform.
				</p>
			</div>
		</div>

	</div>
</section>

<section id="final-section" >
	<div class="container">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<div class="card">
					<div class="row">
						<div class="col-xs-6">
							<%= image_tag 'about/careers-cta_icon.svg', class: 'about-svg-img' %>
							<h3 class="text-blue">Interested in joining our team?</h3>
							<a href="#" class="btn btn-info">View Careers</a>
						</div>
						<div class="col-xs-6">
							<%= image_tag 'about/support.svg', class: 'about-svg-img' %>
							<h3 class="text-blue">Looking for some help with Bonfire?</h3>
							<a href="#" class="btn btn-info">View Support</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
</section>

