<% provide(:title, "Contact") %>

<section>
	<div class="container">
		<br>
		<h2 class="text-blue text-center">Send Us an Email</h2>
		<hr>
				
		<div class="row">
			<div class="col-sm-3 hidden-lg hidden-sm hidden-md">
				<div class="well">
					<h5><i class="glyphicon glyphicon-map-marker"></i> Headquarters:</h5> 
					<b class="text-muted">Western Heights, 11th Floor, Westlands, Nairobi Kenya.</b>
					<h5><i class="glyphicon glyphicon-phone"></i> Phone:</h5>
					<b class="text-muted"> 0781-217-326</b>
					<h5><i class="glyphicon glyphicon-envelope"></i> Email:</h5>
					<b class="text-muted"> team@tenderbooks.com</b>
				</div>
			</div>
			<div class="col-sm-9">
				<%= form_for :contact, method: 'GET' do |f| %>
				<% unless @contact.nil? %>
					<% if @contact.errors.any? %>
					<%= error_message @contact %>
					<% end %>
				<% end %>
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group required">
							<label class="control-label">NAME</label>
							<%= f.text_field :name, class: 'form-control', requried: true %>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group required">
							<label class="control-label">EMAIL</label>
							<%= f.text_field :email, class: 'form-control', requried: true  %>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group required">
							<label class="control-label">PHONE</label>
							<%= f.text_field :phone, class: 'form-control', requried: true  %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group required">
							<label class="control-label">SUBJECT</label>
							<%= f.text_field :subject, class: 'form-control', requried: true  %>
						</div>
						<div class="form-group required">
							<label class="control-label">MESSAGE</label>
							<%= f.text_area :message, class: 'form-control', requried: true, rows: '8' %>
						</div>
						<%= recaptcha_tags %>
					</div>
				</div>
				<hr>
				<div class="text-right">
					<%= f.submit 'Send', class: 'btn btn-info' %>
				</div>
				<% end %>
				<br><br>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="well">
					<h5><i class="glyphicon glyphicon-map-marker"></i> Headquarters:</h5> 
					<b class="text-muted">Western Heights, 11th Floor, Westlands, Nairobi Kenya.</b>
					<h5><i class="glyphicon glyphicon-phone"></i> Phone:</h5>
					<b class="text-muted"> 0781-217-326</b>
					<h5><i class="glyphicon glyphicon-envelope"></i> Email:</h5>
					<b class="text-muted"> team@tenderbooks.com</b>
				</div>
			</div>
		</div>
	</div>
</section>