<% provide(:title, "Home") %>

<section style="margin-top: -20px;">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<%= image_tag 'home/sliders/1.jpg', class: 'img-responsive' %>
				<div class="carousel-caption">
					<h2 class="text-blue">“What We Do”</h2>
					<p>
						“If you are a procuring entity, We are leaders in tender automation and supplier information management. We run supplier pre-qualification programmes, validate data, carry out industry audits and mitigate risks”
					</p>
				</div>
			</div>

			<div class="item">
				<%= image_tag 'home/sliders/2.jpg', class: 'img-responsive' %>
				<div class="carousel-caption">
					<h2 class="text-blue">“What We Do”</h2>
					<p>
						“If you are a supplier, we help you become more competitive and profitable by helping you win and manage more tenders by helping you structure more compelling winning bids to any tender. All you need to do is register as a supplier with tenderbooks.”
					</p>
				</div>
			</div>

			<div class="item">
				<%= image_tag 'home/sliders/3.jpg', class: 'img-responsive' %>
				<div class="carousel-caption">
					<h2 class="text-blue">“What We Do”</h2>
					<p>
						“If you are a procuring entity, We are leaders in tender automation and supplier information management. We run supplier pre-qualification programmes, validate data, carry out industry audits and mitigate risks”
					</p>
				</div>
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</section>

<section class="home-section">
	<div class="container">
		<h1 class="text-center text-uppercase text-blue"><b>Core Features</b></h2>
			<hr>			
			<div class="row">
				<div class="col-md-6 text-center" style="padding: 40px;">
					<i class="fa fa-dashboard icon-5x text-blue"></i>
					<h3 class="text-blue">Supplier Pre-qualification</h3>
					<p class="text-muted">Our automated pre-qualification process which uses your pre-defined requirements helps you save countless hours when evaluating suppliers. Tenderbooks also helps you close the loop quickly by sending automated emails to pre-qualified and dis-qualified vendors in one click.</p>
				</div>
				<div class="col-md-6 text-center" style="padding: 40px;">
					<i class="fa fa-users icon-5x text-blue"></i>
					<h3 class="text-blue">Categorise Suppliers & Invite them for requisitions</h3>
					<p class="text-muted">Label suppliers by category and pull up their information in seconds. Quickly see which suppliers are qualified and which have been blacklisted. Select qualified suppliers to participate in an RFQs with just one click.</p>
				</div>
			</div>
		</div>		
	</section>

	<hr>
	<section class="home-section">
		<div class="container">
			<h1 class="text-center text-blue text-uppercase"><b>Pricing Plans</b></h1>
			<hr>
			<div class="row">
				<div class="col-sm-3">
					<div class="card">
						<h2><b>Starter</b></h2>
						<h3 class="text-blue price-digit"><em>Free!</em></h3>
						<h4>3 User Accounts</h4>
						<h4>3 Private Projects</h4>
						<h4>Unlimited Public Projects</h4>
						<h4>5GB of space</h4>
						<hr>
						<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info' %>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card active">
						<h2><b>Pro <em>plus</em></b></h2>
						<h3 class="bg-blue price-digit"><small>$</small> 49.95 <small>/ MO</small></h3>
						<h4>50 User Accounts</h4>
						<h4>50 Private Projects</h4>
						<h4>Unlimited Public Projects</h4>
						<h4>Unlimited space</h4>
						<hr>
						<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info' %>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card active">
						<div class="card-ribbon bg-blue text-center card-ribbon-top card-ribbon-left">Popular</div>
						<h2><b>Biz <em>plus</em></b></h2>
						<h3 class="bg-blue price-digit"><small>$</small> 199.95 <small>/ MO</small></h3>
						<h4>Unlimited User Accounts</h4>
						<h4>Unlimited Private Projects</h4>
						<h4>Unlimited Public Projects</h4>
						<h4>Unlimited space</h4>
						<hr>
						<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info' %>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card">
						<div class="card-ribbon text-center card-ribbon-top card-ribbon-right text-muted"><b>Best Buy</b></div>
						<h2><b>Starter <em>plus</em></b></h2>
						<h3 class="text-blue price-digit"><small>$</small> 19.95 <small>/ MO</small></h3>
						<h4>10 User Accounts</h4>
						<h4>10 Private Projects</h4>
						<h4>Unlimited Public Projects</h4>
						<h4>15GB of space</h4>
						<hr>
						<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info' %>
					</div>
				</div>
			</div>
		</div>		
	</section>
	<hr>

	<section class="home-section" id="home-last-section">
		<div class="container">
			<h2 class="text-blue text-center"> What makes Tenderbooks different?</h2>
			<hr>
			<div class="row">
				<div class="col-sm-3">				
					<%= image_tag 'home/friendly.png', class: 'img-responsive' %>
					<h4 class="text-blue">
						User friendly, Intuitive design
					</h4>
				</div>
				<div class="col-sm-3">
					<%= image_tag 'home/easy.png', class: 'img-responsive' %>
					<h4 class="text-blue">
						Easy to use for buyers and suppliers
					</h4>
				</div>
				<div class="col-sm-3">
					<%= image_tag 'home/expert.png', class: 'img-responsive' %>
					<h4 class="text-blue">
						Made by procurement experts
					</h4>
				</div>
				<div class="col-sm-3">
					<%= image_tag 'home/task.png', class: 'img-responsive' %>
					<h4 class="text-blue">Keeps daily tasks organized</h4>
				</div>
			</div>			
		</div>
	</section>

