<% provide(:title, "Home") %>

	<section>
		<div class="container">
			<div class="text-center home-banner">
				<h1>It’s About Time You Kick Out The Old Tender Box At Your Reception</h1>
				<p class="text-blue">Tenderbooks is a Supplier information management solution that helps you meet the rising challenges of managing supplier risk & compliance by Automating the supplier pre-qualification process to help you run a <b>Paperless pre-qualification & evaluation process.</b></p>
				<div id="myCarousel" class="carousel slide wow fadeInUp" data-ride="carousel">
					<div class="carousel-inner">
						<div class="item active">
							<%= image_tag 'home/banner.png' %>
						</div>

						<div class="item">
							<%= image_tag 'home/banner.png' %>
						</div>

						<div class="item">
							<%= image_tag 'home/banner.png' %>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</section>

	<section class="home-companies">
		<div class=" container text-center">
			<%= image_tag 'home/companies.png', class: 'img-responsive' %>
		</div>
	</section>

	<hr>

	<section id="testimonial">
      <div class="container">
        <div class="testimonial-heading">
              <h1>Solutions We Provide to Procuring Entities</h1>
            </div><!--testimonial-heading-->

            <div class="flexslider1">
              <ul class="slides new-slides">
                <li data-thumb="<%= asset_path 'home/testimations/test-1.png' %>">
                    <p>Tenderbooks is a powerfull procurement, supplier onboarding, Supplier diversity and compliance software.
                      <span>SUPPLIER MANAGEMENT</span>
                    </p>
                </li>
                <li data-thumb="<%= asset_path 'home/testimations/test-2.png' %>">
                    <p>Tenderbooks provides you with a branded supplier self-registration and pre-qualification portal that easily converts your paper-based pre-qualification document into digital format where suppliers can easily take part in your supplier registration process and you as the procuring entity can easily evaluate the suppliers submissions.
                      <span>SUPPLIER ENABLEMENT</span>
                    </p>
                </li>
                <li data-thumb="<%= asset_path 'home/testimations/test-3.png' %>">
                    <p>A single non-compliant vendor could cost you thousands and damage your reputation. For example awarding a tender to a supplier who was pre-qualified last year but at the moment some of his documents have expired. Tenderbooks gives you an early warning if any suppliers’ documents have expired or show any signs of red flags.
                      <span>SUPPLIER COMPLIANCE</span>
                    </p>
                </li>
                <li data-thumb="<%= asset_path 'home/testimations/test-4.png' %>">
                    <p>Automated supplier pre-qualification with tenderbooks saves your team countless hours when evaluating new suppliers. Our Solution also helps you track expired supplier documents long after the pre-qualification process was completed.
                      <span>AUTOMATED SUPPLIER  PRE-QUALIFICATION</span>
                    </p>
                </li>
                <li data-thumb="<%= asset_path 'home/testimations/test-5.png' %>">
                    <p>Lorem ipsum dolor sit amet, quam mi. Enim diam molestie scelerisque habitant vestibulum ut, ornare quisque libero a. Montes penatibus, venenatis elit doloribus, sit nulla ut dapibus vestibulum.
                      <span>Lorraine Anderson</span>
                    </p>
                </li>
                <li data-thumb="<%= asset_path 'home/testimations/test-6.png' %>">
                    <p>Lorem ipsum dolor sit amet, quam mi. Enim diam molestie scelerisque habitant vestibulum ut, ornare quisque libero a. Montes penatibus, venenatis elit doloribus, sit nulla ut dapibus vestibulum.
                      <span>Lorraine Anderson</span>
                    </p>
                </li>
                <li data-thumb="<%= asset_path 'home/testimations/test-7.png' %>">
                    <p>Lorem ipsum dolor sit amet, quam mi. Enim diam molestie scelerisque habitant vestibulum ut, ornare quisque libero a. Montes penatibus, venenatis elit doloribus, sit nulla ut dapibus vestibulum.
                      <span>Lorraine Anderson</span>
                    </p>
                </li>
             </ul>
          </div>
      </div>
  </section>  

	<hr>

	<section class="home-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 wow fadeInLeft">
					<br><br>
					<h2 class="text-blue">Lorem ipsum dolor sit amet</h2>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<h2 class="text-blue">Lorem ipsum dolor sit amet</h2>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="col-md-6 wow fadeInRight">
					<%= image_tag 'home/home1.png', class: 'img-responsive' %>
				</div>
			</div>
		</div>		
	</section>

	<hr>

	<section class="home-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 wow fadeInUp">
					<%= image_tag 'home/home2.png', class: 'img-responsive' %>
				</div>
				<div class="col-md-6 wow fadeInRight">
					<br><br>
					<h2 class="text-blue">Lorem ipsum dolor sit amet</h2>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<h2 class="text-blue">Lorem ipsum dolor sit amet</h2>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<h2 class="text-blue">Lorem ipsum dolor sit amet</h2>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>		
	</section>

	<section class="bg-blue home-bar">
		<div class="container text-center">
			<h2>Lorem ipsum dolor sit amet</h2>
			<button class="btn btn-default text-blue">
				Start Now
			</button>
		</div>		
	</section>

	<section class="home-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 wow fadeInLeft">
					<br><br>
					<h2 class="text-blue">Lorem ipsum dolor sit amet</h2>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<h2 class="text-blue">Lorem ipsum dolor sit amet</h2>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="col-md-6 wow fadeInRight">
					<%= image_tag 'home/home3.png', class: 'img-responsive' %>
				</div>
			</div>
		</div>		
	</section>

	<hr>

	<section class="home-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 wow fadeInUp">
					<%= image_tag 'home/home4.png', class: 'img-responsive' %>
				</div>
				<div class="col-md-6 wow fadeInRight">
					<br><br>
					<h2 class="text-blue">Lorem ipsum dolor sit amet</h2>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<h2 class="text-blue">Lorem ipsum dolor sit amet</h2>
					<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
		</div>		
	</section>