<% provide(:title, "Prequalification") %>
<section id="ss-banner">
	<div class="container">
		<h3 class="text-muted">SUPPLIER SELECTION</h3>
		<h2 class="text-blue">Welcome to better <br>decision-making.</h2>
		<h3>Mission control for your RFx and bids, streamlining your entire sourcing workflow from posting to award.</h3>
	</div>
</section>

<section id="pros-section" class="skew" style="background-image: url('<%= asset_path('solution/ss_overview-background.jpg') %>'); color: #fff;">
	<div class="container">
		<i class="text-center">
			<h2>You can't afford to trust your sourcing outcomes to paper, Excel, and basic bidding tools.</h2>
			<h3>Selecting the right suppliers is what drives real value for your organization. Bonfire brings your supplier selection process online on a single, streamlined platform, with best-in-class evaluation tools and deeper insights into your projects.</h3>
		</i>
	</div>
</section>

<section id="instant-section" class="skew">
	<div class="container">
		<h3 class="text-muted text-center">INSTANT RICH VISIBILITY</h3>
		<hr><br><br>
		<div class="row">
			<div class="col-sm-6">
				<%= image_tag 'solution/Project-Dashboard-Slide-1.png', class: 'img-responsive' %>
			</div>
			<div class="col-sm-6" style="padding: 0 50px;">
				<h2 class="text-blue">Stay up-to-date at a glance.</h2>
				<h3>The dashboard gives you a real-time overview of your projects and KPIs, so you'll never be left guessing what's coming up next.</h3>
			</div>
		</div>
	</div>
</section>

<section id="project-section" class="skew">
	<div class="container">
		<h3 class="text-muted text-center">PROJECT CREATION</h3>
		<hr>
		<div class="row">
			<div class="col-xs-4">
				<h2 class="text-blue">Setting up a project is easy</h2>
				<ul class="nav">
			    <li class="active">
			    	<a data-toggle="pill" href="#details" class="text-uppercase"><span class="ready">&#10112;</span><span class="active">&#10102;</span> details</a>
			    </li>
			    <li>
			    	<a data-toggle="pill" href="#evaluation-stages" class="text-uppercase"><span class="ready">&#10113;</span><span class="active">&#10103;</span> evaluation stages</a>
			    </li>
			    <li>
			    	<a data-toggle="pill" href="#requested-docs" class="text-uppercase"><span class="ready">&#10114;</span><span class="active">&#10104;</span> required docs</a>
			    </li>
			    <li>
			    	<a data-toggle="pill" href="#criteria-scoring" class="text-uppercase"><span class="ready">&#10115;</span><span class="active">&#10105;</span> criteria scoring</a>
			    </li>
			    <li>
			    	<a data-toggle="pill" href="#reviewers" class="text-uppercase"><span class="ready">&#10116;</span><span class="active">&#10106;</span> reviewers</a>
			    </li>
			  </ul>
			</div>
			<div class="col-xs-8">
				<br>
				<div class="tab-content">
			    <div id="details" class="tab-pane fade in active">
			      <%= image_tag 'solution/Setting-up-a-Project_Step-1.png', class: 'img-responsive' %>
			      <br>
			      <h3 class="text-muted">
			      	Use a template, or create a project from scratch through a simple step-by-step process.
			      </h3>
			    </div>
			    <div id="evaluation-stages" class="tab-pane fade">
			      <%= image_tag 'solution/Setting-up-a-Project_Step-BF.png', class: 'img-responsive' %>
			      <br>
			      <h3 class="text-muted">
			      	Whether you're running a 2 envelope system or a 30 stage decision, segment your supplier data so the right people get the right information at the right time.
			      </h3>
			    </div>
			    <div id="requested-docs" class="tab-pane fade">
			      <%= image_tag 'solution/Setting-up-a-Project_Step-3BF.png', class: 'img-responsive' %>
			      <br>
			      <h3 class="text-muted">
			      	Collect the exact documents, data, and files you need.
			      </h3>
			    </div>
			    <div id="criteria-scoring" class="tab-pane fade">
			      <%= image_tag 'solution/Setting-up-a-Project_Step-4.png', class: 'img-responsive' %>
			      <br>
			      <h3 class="text-muted">
			      	Balance technical requirements, strategic objectives, and pricing/cost in blended scorecards.
			      </h3>
			    </div>
			    <div id="reviewers" class="tab-pane fade">
			    	<%= image_tag 'solution/Setting-up-a-Project_Step-5BF.png', class: 'img-responsive' %>
			    	<br>
			    	<h3 class="text-muted">
			    		Easily add internal users as evaluators or observers. Manage user permissions right down to the project level.
			    	</h3>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</section>

<section id="tenderbooks-you" class="skew">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>Tenderbooks +  You</h2>
				<h3>See how we can help you sourcing team run better, faster RFPs and bids:</h3>
				<div class="form-group">
					<input type="" class="form-control input-lg" placeholder="Your work email" >
				</div>
				<div class="form-group">
					<input type="" class="form-control input-lg" placeholder="Your organization name">
				</div>				
				<div class="form-group">
					<button class="btn btn-lg btn-transparent">Request Demo</button>
				</div>
			</div>
			<div class="col-sm-6"></div>
		</div>
	</div>
</section>

<section id="posts-section" class="skew">
	<div class="container">
		<h2 class="text-center">Read our success stories:</h2>
		<hr><br><br>
		<div class="row">
			<div class="col-sm-4">
				<div class="post-card">
					<%= image_tag 'home/post3.jpg', class: 'img-responsive' %>
					<h3>Competitive Bidding, Sourcing and RFx Platform</h3>
					<p>Bonfire is the leading next generation competitive bidding and RFx platform for 2x faster projects, 18% cost savings, richer visibility, and perfect compliance.</p>
					<a href="#" class="btn btn-info btn-block">Read More</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="post-card">
					<%= image_tag 'home/post3.jpg', class: 'img-responsive' %>
					<h3>Competitive Bidding, Sourcing and RFx Platform</h3>
					<p>Bonfire is the leading next generation competitive bidding and RFx platform for 2x faster projects, 18% cost savings, richer visibility, and perfect compliance.</p>
					<a href="#" class="btn btn-info btn-block">Read More</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="post-card">
					<%= image_tag 'home/post3.jpg', class: 'img-responsive' %>
					<h3>Competitive Bidding, Sourcing and RFx Platform</h3>
					<p>Bonfire is the leading next generation competitive bidding and RFx platform for 2x faster projects, 18% cost savings, richer visibility, and perfect compliance.</p>
					<a href="#" class="btn btn-info btn-block">Read More</a>
				</div>
			</div>
		</div>
		<hr><br><br>
		<div class="text-center">
			<a href="#" class="btn btn-info btn-lg">View All Resources</a>
		</div>		
	</div>
</section>