<h2><%= "#{@demo.first_name} #{@demo.last_name}" %> requested a demo.</h2>
<p>His(her) email: <%= @demo.email %></p>
<p>His(her) phone: <%= @demo.phone %></p>
<p>His(her) company: <%= @demo.company %></p>
<p>His(her) role: <%= @demo.role %></p>