<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi, <%= @supplier.email %></h2>
    <h3><b><%= @subject %></h3>
    <% if @extend.nil? %>
      <h4>Clarification on changes in the request:</h4>
      <p><%= @request.clarificatoin %></p>
    <% else %>
      <h4>Reason for extending the request</h4>
      <p><%= @request.extend_reason %></p>
    <% end %>
    <pre><%= @request.description %></pre>
    <hr>
    <pre>
    	Your previous bid may need to be updated by <%= @request.end_time %> via the link in this email.

  		The documentation of the request can be accessed by the link below.<br>
      <%= link_to 'View Request and make bid', view_request_url(@request.id, @supplier_token ), target: '_blank' %>
	   </pre>
  </body>
</html>